<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="newWizards" name="%extension-point.newWizards.name" schema="schema/newWizards.exsd"/>
   <extension-point id="wizardProviders" name="%extension-point.wizardProviders.name" schema="schema/wizardProviders.exsd"/>
   <extension-point id="viewers" name="%extension-point.viewers.name" schema="schema/viewers.exsd"/>
   <extension-point id="cellEditors" name="%ExtensionPoint.cellEditors.name" schema="schema/cellEditors.exsd"/>

<!-- New target wizard contributions -->

   <extension point="org.eclipse.tcf.te.ui.newWizards">
      <category
            id="org.eclipse.tcf.te.ui.newWizards.category.general"
            name="%NewWizards.category.name">
      </category>
   </extension>

<!-- Command contributions -->
   <extension point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.tcf.te.ui.commands.category"
            name="%Command.category.name">
      </category>

      <command
            categoryId="org.eclipse.tcf.te.ui.commands.category"
            defaultHandler="org.eclipse.tcf.te.ui.wizards.newWizard.NewWizardCommandHandler"
            description="%Command.newWizards.description"
            helpContextId="org.eclipse.tcf.te.ui.command_NewWizards"
            id="org.eclipse.tcf.te.ui.command.newWizards"
            name="%Command.newWizards.name">
      </command>
   </extension>
   
<!-- Command image contributions -->   
   <extension point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.tcf.te.ui.command.newWizards"
            disabledIcon="icons/dlcl16/newtarget_wiz.gif"
            icon="icons/elcl16/newtarget_wiz.gif">
      </image>
   </extension>
   
<!-- Context and binding contributions -->
   <extension point="org.eclipse.ui.contexts">
      <context
            description="%context.targetexplorer.description"
            id="org.eclipse.tcf.te.ui.views.TargetExplorer"
            name="%context.targetexplorer.name"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.tcf.te.ui.command.newWizards"
            contextId="org.eclipse.tcf.te.ui.views.TargetExplorer"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+N">
      </key>
   </extension>

<!-- Status handler contributions -->
   <extension point="org.eclipse.tcf.te.runtime.statushandler.handlers">
      <handler
            class="org.eclipse.tcf.te.ui.statushandler.DefaultStatusHandler"
            id="org.eclipse.tcf.te.statushandler.default"
            label="%DefaultStatusHandler.label">
      </handler>
   </extension>

<!-- Executor service contributions -->
   <extension point="org.eclipse.tcf.te.runtime.concurrent.executorServices">
      <executorService
            id="org.eclipse.tcf.te.ui.executors.SWTDisplay"
            label="Eclipse Platform Display Executor"
            class="org.eclipse.tcf.te.ui.internal.executors.SWTDisplayExecutor">
      </executorService>
   </extension>
   
<!-- Executor utility delegate contributions -->
   <extension point="org.eclipse.tcf.te.runtime.concurrent.executorUtilDelegates">
      <executorUtilDelegate
      		class="org.eclipse.tcf.te.ui.internal.executors.SWTDisplayExecutorUtilDelegate"
            id="org.eclipse.tcf.te.ui.executors.delegate.SWTDisplay"
            label="%SWTDisplayExecutorUtilDelegate.label">
      </executorUtilDelegate>
   </extension>

<!-- Preference page contributions -->
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.tcf.te.ui.preferences.PreferencePage"
            id="org.eclipse.tcf.te.ui.preferences.general"
            name="%preference.page.name">
      </page>
   </extension>
   
</plugin>
