# ignore various emacs droppings
*~
\#*\#

# .
workspace
debug-workspace

# examples/org.eclipse.tcf.examples.daytime/
examples/org.eclipse.tcf.examples.daytime/bin

# features/
features/build-directory
features/build-workspace

# features/org.eclipse.tcf.cdt.feature/
features/org.eclipse.tcf.cdt.feature/target
features/org.eclipse.tcf.cdt.sdk.feature/target

# features/org.eclipse.tcf.feature/
features/org.eclipse.tcf.feature/target
features/org.eclipse.tcf.sdk.feature/target

# features/org.eclipse.tcf.headless.build/
features/org.eclipse.tcf.headless.build/build-directory
features/org.eclipse.tcf.headless.build/workspace

# features/org.eclipse.tcf.repo/
features/org.eclipse.tcf.repo/target

# features/org.eclipse.tcf.rse.feature/
features/org.eclipse.tcf.rse.feature/target
features/org.eclipse.tcf.rse.sdk.feature/target

# features/org.eclipse.tcf.site/
features/org.eclipse.tcf.site/features
features/org.eclipse.tcf.site/plugins
features/org.eclipse.tcf.site/artifacts.xml
features/org.eclipse.tcf.site/content.xml

# plugins/org.eclipse.tcf/
plugins/org.eclipse.tcf/target
plugins/org.eclipse.tcf/bin

# plugins/org.eclipse.tcf.cdt.ui/
plugins/org.eclipse.tcf.cdt.ui/target
plugins/org.eclipse.tcf.cdt.ui/bin

# plugins/org.eclipse.tcf.core/
plugins/org.eclipse.tcf.core/target
plugins/org.eclipse.tcf.core/bin

# plugins/org.eclipse.tcf.debug/
plugins/org.eclipse.tcf.debug/target
plugins/org.eclipse.tcf.debug/bin

# plugins/org.eclipse.tcf.debug.ui/
plugins/org.eclipse.tcf.debug.ui/target
plugins/org.eclipse.tcf.debug.ui/bin

# plugins/org.eclipse.tcf.rse/
plugins/org.eclipse.tcf.rse/target
plugins/org.eclipse.tcf.rse/bin

# Tests
tests/plugins/org.eclipse.tcf.debug.test/bin

# Target Explorer
/target_explorer/coverage/
/target_explorer/plugins/org.eclipse.tcf.te.core/target
/target_explorer/plugins/org.eclipse.tcf.te.core/bin
/target_explorer/plugins/org.eclipse.tcf.te.core.cdt/target
/target_explorer/plugins/org.eclipse.tcf.te.core.cdt/bin
/target_explorer/plugins/org.eclipse.tcf.te.launch.core/target
/target_explorer/plugins/org.eclipse.tcf.te.launch.core/bin
/target_explorer/plugins/org.eclipse.tcf.te.launch.ui/target
/target_explorer/plugins/org.eclipse.tcf.te.launch.ui/bin
/target_explorer/plugins/org.eclipse.tcf.te.rcp/target
/target_explorer/plugins/org.eclipse.tcf.te.rcp/bin
/target_explorer/plugins/org.eclipse.tcf.te.rcp.application/target
/target_explorer/plugins/org.eclipse.tcf.te.rcp.application/bin
/target_explorer/plugins/org.eclipse.tcf.te.runtime/target
/target_explorer/plugins/org.eclipse.tcf.te.runtime/bin
/target_explorer/plugins/org.eclipse.tcf.te.runtime.concurrent/target
/target_explorer/plugins/org.eclipse.tcf.te.runtime.concurrent/bin
/target_explorer/plugins/org.eclipse.tcf.te.runtime.model/target
/target_explorer/plugins/org.eclipse.tcf.te.runtime.model/bin
/target_explorer/plugins/org.eclipse.tcf.te.runtime.persistence/target
/target_explorer/plugins/org.eclipse.tcf.te.runtime.persistence/bin
/target_explorer/plugins/org.eclipse.tcf.te.runtime.services/target
/target_explorer/plugins/org.eclipse.tcf.te.runtime.services/bin
/target_explorer/plugins/org.eclipse.tcf.te.runtime.statushandler/target
/target_explorer/plugins/org.eclipse.tcf.te.runtime.statushandler/bin
/target_explorer/plugins/org.eclipse.tcf.te.runtime.stepper/target
/target_explorer/plugins/org.eclipse.tcf.te.runtime.stepper/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.core/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.core/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.core.model/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.core.model/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.core.scripting/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.core.scripting/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.filesystem/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.filesystem/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.filesystem.test/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.filesystem.test/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.launch.core/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.launch.core/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.launch.ui/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.launch.ui/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.locator/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.locator/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.log.core/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.log.core/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.processes.core/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.processes.core/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.processes.ui/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.processes.ui/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.services.contexts/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.services.contexts/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.terminals.core/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.terminals.core/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.terminals.ui/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.terminals.ui/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.ui/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.ui/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.ui.console/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.ui.console/bin
/target_explorer/plugins/org.eclipse.tcf.te.tcf.ui.views/target
/target_explorer/plugins/org.eclipse.tcf.te.tcf.ui.views/bin
/target_explorer/plugins/org.eclipse.tcf.te.tests/target
/target_explorer/plugins/org.eclipse.tcf.te.tests/bin
/target_explorer/plugins/org.eclipse.tcf.te.ui/target
/target_explorer/plugins/org.eclipse.tcf.te.ui/bin
/target_explorer/plugins/org.eclipse.tcf.te.ui.controls/target
/target_explorer/plugins/org.eclipse.tcf.te.ui.controls/bin
/target_explorer/plugins/org.eclipse.tcf.te.ui.forms/target
/target_explorer/plugins/org.eclipse.tcf.te.ui.forms/bin
/target_explorer/plugins/org.eclipse.tcf.te.ui.startup/target
/target_explorer/plugins/org.eclipse.tcf.te.ui.startup/bin
/target_explorer/plugins/org.eclipse.tcf.te.ui.swt/target
/target_explorer/plugins/org.eclipse.tcf.te.ui.swt/bin
/target_explorer/plugins/org.eclipse.tcf.te.ui.terminals/target
/target_explorer/plugins/org.eclipse.tcf.te.ui.terminals/bin
/target_explorer/plugins/org.eclipse.tcf.te.ui.terminals.process/target
/target_explorer/plugins/org.eclipse.tcf.te.ui.terminals.process/bin
/target_explorer/plugins/org.eclipse.tcf.te.ui.terminals.serial/target
/target_explorer/plugins/org.eclipse.tcf.te.ui.terminals.serial/bin
/target_explorer/plugins/org.eclipse.tcf.te.ui.terminals.ssh/target
/target_explorer/plugins/org.eclipse.tcf.te.ui.terminals.ssh/bin
/target_explorer/plugins/org.eclipse.tcf.te.ui.terminals.telnet/target
/target_explorer/plugins/org.eclipse.tcf.te.ui.terminals.telnet/bin
/target_explorer/plugins/org.eclipse.tcf.te.ui.views/target
/target_explorer/plugins/org.eclipse.tcf.te.ui.views/bin
/target_explorer/plugins/org.eclipse.tcf.te.ui.views.workingsets/target
/target_explorer/plugins/org.eclipse.tcf.te.ui.views.workingsets/bin
/target_explorer/features/org.eclipse.tcf.te.feature/target
/target_explorer/features/org.eclipse.tcf.te.feature/bin
/target_explorer/features/org.eclipse.tcf.te.cdt.feature/target
/target_explorer/features/org.eclipse.tcf.te.cdt.feature/bin
/target_explorer/features/org.eclipse.tcf.te.rcp.feature/target
/target_explorer/features/org.eclipse.tcf.te.rcp.feature/bin
/target_explorer/features/org.eclipse.tcf.te.sdk.feature/target
/target_explorer/features/org.eclipse.tcf.te.sdk.feature/bin
/target_explorer/features/org.eclipse.tcf.te.cdt.sdk.feature/target
/target_explorer/features/org.eclipse.tcf.te.cdt.sdk.feature/bin
/target_explorer/features/org.eclipse.tcf.te.tcf.feature/target
/target_explorer/features/org.eclipse.tcf.te.tcf.feature/bin
/target_explorer/features/org.eclipse.tcf.te.tcf.rcp.feature/target
/target_explorer/features/org.eclipse.tcf.te.tcf.rcp.feature/bin
/target_explorer/features/org.eclipse.tcf.te.tcf.sdk.feature/target
/target_explorer/features/org.eclipse.tcf.te.tcf.sdk.feature/bin

/target_explorer/experimental/plugins/org.eclipse.tcf.te.ui.sequoyah.vnc/target
/target_explorer/experimental/plugins/org.eclipse.tcf.te.ui.sequoyah.vnc/bin
