<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Extension Points -->
   <extension-point id="steppers" name="Steppers" schema="schema/steppers.exsd"/>
   <extension-point id="steps" name="Steps" schema="schema/steps.exsd"/>
   <extension-point id="stepGroups" name="Step Groups" schema="schema/stepGroups.exsd"/>

<!-- Stepper contributions -->
   <extension point="org.eclipse.tcf.te.runtime.stepper.steppers">
      <stepper
            id="org.eclipse.tcf.te.runtime.stepper.multiContext" 
            class="org.eclipse.tcf.te.runtime.stepper.stepper.MultiContextStepper"
            label="%MultiContextStepper.name"/>
      <stepper
            id="org.eclipse.tcf.te.runtime.stepper.singleContext" 
            class="org.eclipse.tcf.te.runtime.stepper.stepper.SingleContextStepper"
            label="%SingleContextStepper.name"/>
   </extension>

</plugin>
