<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Test status handler contributions -->
   <extension point="org.eclipse.tcf.te.runtime.statushandler.handlers">
      <handler
            id="org.eclipse.tcf.te.tests.handler1"
            class="org.eclipse.tcf.te.tests.statushandler.TestStatusHandler">
      </handler>

      <handler
            id="org.eclipse.tcf.te.tests.handler2"
            class="org.eclipse.tcf.te.tests.statushandler.TestStatusHandler">
      </handler>
   </extension>

   <extension point="org.eclipse.tcf.te.runtime.statushandler.bindings">
      <binding
            handlerId="org.eclipse.tcf.te.tests.handler1"
            id="org.eclipse.tcf.te.tests.binding1">
            <enablement>
               <or>
                  <instanceof value="org.eclipse.tcf.te.tests.CoreTestCase"/>
                  <instanceof value="org.eclipse.tcf.te.tests.interfaces.IInterruptCondition"/>
               </or>
            </enablement>
      </binding>
      
      <binding
            handlerId="org.eclipse.tcf.te.tests.handler2"
            id="org.eclipse.tcf.te.tests.binding2">
            <enablement>
               <instanceof value="org.eclipse.tcf.te.tests.interfaces.IInterruptCondition"/>
            </enablement>
      </binding>
   </extension>
   
<!-- Test stepper engine contributions -->
   <extension point="org.eclipse.tcf.te.runtime.stepper.steps">
      <step
            class="org.eclipse.tcf.te.tests.stepper.TestStep"
            id="org.eclipse.tcf.te.tests.stepper.step1"
            label="Test Step 1">
      </step>
      
      <step
            id="org.eclipse.tcf.te.tests.stepper.step2"
            label="Test Step 2">
         <class
               class="org.eclipse.tcf.te.tests.stepper.ParameterizedTestStep">
            <parameter
                  name="param1"
                  value="value1">
            </parameter>
         </class>
      </step>

      <step
            class="org.eclipse.tcf.te.tests.stepper.TestStep"
            id="org.eclipse.tcf.te.tests.stepper.step3"
            label="Test Step 3">
         <description>
            Just another test step
         </description>
      </step>

      <step
            class="org.eclipse.tcf.te.tests.stepper.TestStep"
            id="org.eclipse.tcf.te.tests.stepper.step4"
            label="Test Step 4">
         <requires
               id="org.eclipse.tcf.te.tests.stepper.step1">
         </requires>
      </step>

      <step
            class="org.eclipse.tcf.te.tests.stepper.TestStep"
            id="org.eclipse.tcf.te.tests.stepper.step5"
            label="Test Step 5">
      </step>
   </extension>

   <extension point="org.eclipse.tcf.te.runtime.stepper.stepBindings">
      <binding
            id="org.eclipse.tcf.te.tests.stepper.steps.binding1"
            stepId="org.eclipse.tcf.te.tests.stepper.step5">
            <enablement>
               <with variable="activeContexts">
                  <count value="1"/>
               </with>
            </enablement>
      </binding>
   </extension>

   <extension point="org.eclipse.tcf.te.runtime.stepper.stepGroups">
      <stepGroup
            id="org.eclipse.tcf.te.tests.stepper.stepGroup1"
            label="Test Step Group 1"
            locked="false">
      </stepGroup>

      <stepGroup
            id="org.eclipse.tcf.te.tests.stepper.stepGroup2"
            label="Test Step Group 2"
            locked="true">
         <description>
            Just a step group description
         </description>
      </stepGroup>

      <stepGroup
            id="org.eclipse.tcf.te.tests.stepper.stepGroup3"
            label="Test Step Group 3"
            locked="false">
         <references>
            <reference
                  disable="false"
                  hidden="false"
                  id="org.eclipse.tcf.te.tests.stepper.step1"
                  removable="true"
                  singleton="true">
            </reference>
            <reference
                  disable="false"
                  hidden="false"
                  id="org.eclipse.tcf.te.tests.stepper.step2"
                  removable="true"
                  singleton="true">
            </reference>
            <reference
                  disable="false"
                  hidden="false"
                  id="org.eclipse.tcf.te.tests.stepper.step3"
                  removable="true"
                  singleton="true">
            </reference>
            <reference
                  disable="false"
                  hidden="false"
                  id="org.eclipse.tcf.te.tests.stepper.step4"
                  removable="true"
                  singleton="true">
            </reference>
         </references>
      </stepGroup>

      <stepGroup
            id="org.eclipse.tcf.te.tests.stepper.stepGroup4"
            label="Test Step Group 4"
            locked="false">
         <references>
            <reference
                  disable="false"
                  hidden="false"
                  id="org.eclipse.tcf.te.tests.stepper.step1"
                  removable="true"
                  singleton="true">
            </reference>
            <reference
                  disable="false"
                  hidden="false"
                  id="org.eclipse.tcf.te.tests.stepper.step2"
                  removable="true"
                  singleton="true">
            </reference>
            <reference
                  disable="false"
                  hidden="false"
                  id="org.eclipse.tcf.te.tests.stepper.step3"
                  removable="true"
                  singleton="true">
            </reference>
            <reference
                  disable="false"
                  hidden="false"
                  id="org.eclipse.tcf.te.tests.stepper.step4"
                  removable="true"
                  singleton="true">
            </reference>
            <reference
                  disable="false"
                  hidden="false"
                  id="org.eclipse.tcf.te.tests.stepper.step5"
                  removable="true"
                  singleton="true">
            </reference>
         </references>
      </stepGroup>
   </extension>
</plugin>
