<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Adapter factory contributions -->
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.debug.core.ILaunch"
            class="org.eclipse.tcf.te.tcf.launch.core.internal.adapters.AdapterFactory">
         <adapter type="org.eclipse.tcf.te.runtime.stepper.interfaces.IStepContext"/>
      </factory>
   </extension>

<!-- Launch Configuration Type contributions -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.eclipse.tcf.te.tcf.launch.type.remote.app"
            sourceLocatorId="org.eclipse.tcf.debug.SourceLocator"
            sourcePathComputerId="org.eclipse.tcf.debug.SourcePathComputer"
            delegate="org.eclipse.tcf.te.tcf.launch.core.delegates.LaunchConfigurationDelegate"
            modes="run,debug"
            name="%LaunchType.Remote.App.name"/>
      <launchConfigurationType
            id="org.eclipse.tcf.te.tcf.launch.type.attach"
            sourceLocatorId="org.eclipse.tcf.debug.SourceLocator"
            sourcePathComputerId="org.eclipse.tcf.debug.SourcePathComputer"
            delegate="org.eclipse.tcf.te.tcf.launch.core.delegates.LaunchConfigurationDelegate"
            modes="debug"
            name="%LaunchType.Attach.name"/>
   </extension>
   
<!-- Launch Configuration Type Binding contributions -->
   <extension point="org.eclipse.tcf.te.launch.core.launchConfigTypeBindings">
      <launchConfigTypeBinding launchConfigTypeId="org.eclipse.tcf.te.tcf.launch.type.remote.app">
         <launchManagerDelegate
               id="org.eclipse.tcf.te.tcf.launch.type.remote.app.launchManagerDelegate"
               modes="run"/>
         <stepGroup
               id="org.eclipse.tcf.te.tcf.launch.type.remote.app.stepGroup"
               modes="run"/>
         <enablement>
            <with variable="context">
               <or>
                  <adapt type="org.eclipse.core.resources.IResource">
                     <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature"/>
                  </adapt>
                  <and>
                     <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
                     <test property="org.eclipse.tcf.te.tcf.locator.hasRemoteService" value="Processes"/>
                  </and>
               </or>
            </with>
         </enablement>
      </launchConfigTypeBinding>
      <launchConfigTypeBinding launchConfigTypeId="org.eclipse.tcf.te.tcf.launch.type.remote.app">
         <launchManagerDelegate
               id="org.eclipse.tcf.te.tcf.launch.type.remote.app.launchManagerDelegate"
               modes="debug"/>
         <stepGroup
               id="org.eclipse.tcf.te.tcf.launch.type.remote.app.stepGroup"
               modes="debug"/>
         <enablement>
            <with variable="context">
               <or>
                  <adapt type="org.eclipse.core.resources.IResource">
                     <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.cdt.core.cnature"/>
                  </adapt>
                  <and>
                     <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
                     <test property="org.eclipse.tcf.te.tcf.locator.hasRemoteService" value="Processes"/>
                     <test property="org.eclipse.tcf.te.tcf.locator.hasRemoteService" value="RunControl"/>
                  </and>
               </or>
            </with>
         </enablement>
      </launchConfigTypeBinding>
      <launchConfigTypeBinding launchConfigTypeId="org.eclipse.tcf.te.tcf.launch.type.attach">
         <launchManagerDelegate
               id="org.eclipse.tcf.te.tcf.launch.type.attach.launchManagerDelegate"
               modes="debug"/>
         <stepGroup
               id="org.eclipse.tcf.te.tcf.launch.type.attach.stepGroup"
               modes="debug"/>
         <enablement>
            <with variable="context">
               <and>
                  <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
                  <test property="org.eclipse.tcf.te.tcf.locator.hasRemoteService" value="RunControl"/>
               </and>
            </with>
         </enablement>
      </launchConfigTypeBinding>
   </extension>
   
<!-- Launch Manager Delegate contributions -->
   <extension point="org.eclipse.tcf.te.launch.core.launchManagerDelegates">
      <delegate
            class="org.eclipse.tcf.te.tcf.launch.core.lm.delegates.RemoteAppLaunchManagerDelegate"
            id="org.eclipse.tcf.te.tcf.launch.type.remote.app.launchManagerDelegate"/>
      <delegate
            class="org.eclipse.tcf.te.tcf.launch.core.lm.delegates.AttachLaunchManagerDelegate"
            id="org.eclipse.tcf.te.tcf.launch.type.attach.launchManagerDelegate"/>
   </extension>
   
<!-- Launch Step Group contributions -->
   <extension point="org.eclipse.tcf.te.runtime.stepper.stepGroups">
      <stepGroup
            id="org.eclipse.tcf.te.tcf.launch.type.remote.app.stepGroup"
            label="%LaunchStepGroup.Remote.App.name"
            iterator="org.eclipse.tcf.te.launch.core.steps.iterators.LaunchContextIterator">
         <references>
            <reference id="org.eclipse.tcf.te.tcf.launch.core.openChannelStep"/>
            <reference id="org.eclipse.tcf.te.tcf.launch.core.fileTransferStepGroup"/>
            <reference id="org.eclipse.tcf.te.tcf.launch.core.launchProcessStep"/>
            <reference id="org.eclipse.tcf.te.tcf.launch.core.resumeContextStep">
               <enablement>
                  <with variable="context">
                     <test property="org.eclipse.tcf.te.launch.core.launchMode" value="debug"/>
                  </with>
               </enablement>
            </reference>
            <reference id="org.eclipse.tcf.te.tcf.launch.core.attachDebuggerStep">
               <enablement>
                  <with variable="context">
                     <test property="org.eclipse.tcf.te.launch.core.launchMode" value="debug"/>
                  </with>
               </enablement>
            </reference>
            <reference id="org.eclipse.tcf.te.tcf.launch.core.closeChannelStep"/>
            <reference id="org.eclipse.tcf.te.launch.core.removeLaunchStep">
               <enablement>
                  <with variable="context">
                     <not>
                        <test property="org.eclipse.tcf.te.launch.core.launchMode" value="debug"/>
                     </not>
                  </with>
               </enablement>
            </reference>
         </references>
      </stepGroup>
      <stepGroup
            id="org.eclipse.tcf.te.tcf.launch.core.fileTransferStepGroup"
            label="%LaunchStepGroup.FileTransfer.name"
            iterator="org.eclipse.tcf.te.tcf.launch.core.steps.iterators.FileTransferIterator">
         <references>
            <reference id="org.eclipse.tcf.te.tcf.launch.core.fileTransferStep"/>
         </references>
      </stepGroup>
      <stepGroup
            id="org.eclipse.tcf.te.tcf.launch.type.attach.stepGroup"
            label="%LaunchStepGroup.Attach.name"
            iterator="org.eclipse.tcf.te.launch.core.steps.iterators.LaunchContextIterator">
         <references>
            <reference id="org.eclipse.tcf.te.tcf.launch.core.attachDebuggerStep">
               <enablement>
                  <with variable="context">
                     <test property="org.eclipse.tcf.te.launch.core.launchMode" value="debug"/>
                  </with>
               </enablement>
            </reference>
         </references>
      </stepGroup>
   </extension>
   
<!-- Launch Step contributions -->
   <extension point="org.eclipse.tcf.te.runtime.stepper.steps">
      <step
            id="org.eclipse.tcf.te.tcf.launch.core.openChannelStep"
            class="org.eclipse.tcf.te.tcf.launch.core.steps.OpenChannelStep"
            label="%LaunchStep.OpenChannel.name"/>
      <step
            id="org.eclipse.tcf.te.tcf.launch.core.fileTransferStep"
            class="org.eclipse.tcf.te.tcf.launch.core.steps.FileTransferStep"
            label="%LaunchStep.FileTransfer.name">
         <requires id="org.eclipse.tcf.te.tcf.launch.core.openChannelStep"/>
      </step>
      <step
            id="org.eclipse.tcf.te.tcf.launch.core.launchProcessStep"
            class="org.eclipse.tcf.te.tcf.launch.core.steps.LaunchProcessStep"
            label="%LaunchStep.LaunchProcess.name">
      </step>
      <step
            id="org.eclipse.tcf.te.tcf.launch.core.attachDebuggerStep"
            class="org.eclipse.tcf.te.tcf.launch.core.steps.AttachDebuggerStep"
            label="%LaunchStep.AttachDebugger.name">
      </step>
      <step
            id="org.eclipse.tcf.te.tcf.launch.core.resumeContextStep"
            class="org.eclipse.tcf.te.tcf.launch.core.steps.ResumeContextStep"
            label="%LaunchStep.ResumeContext.name">
         <requires id="org.eclipse.tcf.te.tcf.launch.core.openChannelStep"/>
         <requires id="org.eclipse.tcf.te.tcf.launch.core.launchProcessStep"/>
      </step>
      <step
            id="org.eclipse.tcf.te.tcf.launch.core.closeChannelStep"
            class="org.eclipse.tcf.te.tcf.launch.core.steps.CloseChannelStep"
            label="%LaunchStep.CloseChannel.name">
         <requires id="org.eclipse.tcf.te.tcf.launch.core.openChannelStep"/>
      </step>
   </extension>

</plugin>
