<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Extension points -->
   <extension-point id="launchConfigTypeBindings" name="Launch Configuration Type Bindings" schema="schema/launchConfigTypeBindings.exsd"/>
   <extension-point id="launchManagerDelegates" name="Launch Manager Delegates" schema="schema/launchManagerDelegates.exsd"/>
   <extension-point id="launchModeVariantDelegates" name="Launch Mode Variant Delegates" schema="schema/launchModeVariantDelegates.exsd"/>

<!-- Adapter factory contributions -->
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.tcf.te.launch.core.selection.interfaces.ISelectionContext"
            class="org.eclipse.tcf.te.launch.core.adapters.internal.AdapterFactory">
         <adapter type="org.eclipse.core.expressions.IIterable"/>
         <adapter type="org.eclipse.core.expressions.ICountable"/>
      </factory>
   </extension>

<!-- Preference contributions -->
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.tcf.te.launch.core.preferences.PreferencesInitializer">
      </initializer>
   </extension>

<!-- Launch Configuration Type contributions -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="org.eclipse.tcf.te.launch.category.linux"
            delegate="org.eclipse.tcf.te.launch.core.delegates.LaunchConfigurationDelegate"
            id="org.eclipse.tcf.te.launch.type.linux.app"
            modes="run,debug"
            name="%LaunchType.Linux.App.name">
      </launchConfigurationType>
   </extension>

</plugin>
