<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Extension points -->
   <extension-point id="launchConfigTypeBindings" name="%Extension.LaunchConfigTypeBindings.name" schema="schema/launchConfigTypeBindings.exsd"/>
   <extension-point id="launchManagerDelegates" name="%Extension.LaunchManagerDelegates.name" schema="schema/launchManagerDelegates.exsd"/>

<!-- Adapter factory contributions -->
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.tcf.te.launch.core.selection.interfaces.ISelectionContext"
            class="org.eclipse.tcf.te.launch.core.adapters.internal.AdapterFactory">
         <adapter type="org.eclipse.core.expressions.IIterable"/>
         <adapter type="org.eclipse.core.expressions.ICountable"/>
      </factory>
   </extension>

<!-- Preference contributions -->
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.tcf.te.launch.core.preferences.PreferencesInitializer">
      </initializer>
   </extension>

<!-- Property tester contributions -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.tcf.te.launch.core.bindings.internal.PropertyTester"
            id="org.eclipse.tcf.te.launch.core.PropertyTester"
            namespace="org.eclipse.tcf.te.launch.core"
            properties="launchMode"
            type="org.eclipse.debug.core.ILaunch">
      </propertyTester>
      <propertyTester
            class="org.eclipse.tcf.te.launch.core.bindings.internal.PropertyTester"
            id="org.eclipse.tcf.te.launch.core.PropertyTester"
            namespace="org.eclipse.tcf.te.launch.core"
            properties="isValidLaunchConfigType"
            type="java.lang.Object">
      </propertyTester>
   </extension>

<!-- Launch Step contributions -->
   <extension point="org.eclipse.tcf.te.runtime.stepper.steps">
      <step
            class="org.eclipse.tcf.te.launch.core.steps.RemoveLaunchStep"
            id="org.eclipse.tcf.te.launch.core.removeLaunchStep"
            label="%LaunchStep.RemoveLaunch.name">
      </step>
   </extension>

<!-- Persistence delegate contributions -->
   <extension point="org.eclipse.tcf.te.runtime.persistence.delegates">
      <delegate 
            id="org.eclipse.tcf.te.launch.core.persistence.gson.fileTransferItem"
            class="org.eclipse.tcf.te.launch.core.internal.GsonFileTransferItemPersistenceDelegate">
      </delegate>
      <delegate 
            id="org.eclipse.tcf.te.launch.core.persistence.gson.referencedProjectItem"
            class="org.eclipse.tcf.te.launch.core.internal.GsonReferencedProjectItemPersistenceDelegate">
      </delegate>
   </extension>

<!-- Persistence delegate bindings contributions -->
   <extension point="org.eclipse.tcf.te.runtime.persistence.bindings">
       <binding
            delegateId="org.eclipse.tcf.te.launch.core.persistence.gson.fileTransferItem"
            id="org.eclipse.tcf.te.launch.core.binding.gson.fileTransferItem">
         <enablement>
            <with variable="container">
               <or>
                  <instanceof value="java.lang.String"/>
                  <and>
                     <instanceof value="java.lang.Class"/>
                     <with variable="containerClass">
                        <equals value="java.lang.String"/>
                     </with>
                  </and>
               </or>
            </with>
            <with variable="context">
               <or>
                  <instanceof value="org.eclipse.tcf.te.runtime.services.interfaces.filetransfer.IFileTransferItem"/>
                  <and>
                     <instanceof value="java.lang.Class"/>
                     <with variable="contextClass">
                        <equals value="org.eclipse.tcf.te.runtime.services.interfaces.filetransfer.IFileTransferItem"/>
                     </with>
                  </and>
               </or>
            </with>
         </enablement>
      </binding>
       <binding
            delegateId="org.eclipse.tcf.te.launch.core.persistence.gson.referencedProjectItem"
            id="org.eclipse.tcf.te.launch.core.binding.gson.referencedProjectItem">
         <enablement>
            <with variable="container">
               <or>
                  <instanceof value="java.lang.String"/>
                  <and>
                     <instanceof value="java.lang.Class"/>
                     <with variable="containerClass">
                        <equals value="java.lang.String"/>
                     </with>
                  </and>
               </or>
            </with>
            <with variable="context">
               <or>
                  <instanceof value="org.eclipse.tcf.te.launch.core.interfaces.IReferencedProjectItem"/>
                  <and>
                     <instanceof value="java.lang.Class"/>
                     <with variable="contextClass">
                        <equals value="org.eclipse.tcf.te.launch.core.interfaces.IReferencedProjectItem"/>
                     </with>
                  </and>
               </or>
            </with>
         </enablement>
      </binding>
   </extension>

</plugin>
