<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Adapter factory contributions -->
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.tcf.te.ui.views.internal.View"
            class="org.eclipse.tcf.te.ui.views.workingsets.internal.adapters.AdapterFactory">
         <adapter type="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetViewStateManager"/>
      </factory>

      <factory
            adaptableType="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetElementHolder"
            class="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetElementHolderAdapterFactory">
         <adapter type="org.eclipse.tcf.te.runtime.interfaces.workingsets.IWorkingSetElement"/>
      </factory>
   </extension>
   
<!-- Common Navigator contributions -->
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.tcf.te.ui.views.View">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.tcf.te.ui.views.navigator.content.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>   

<!-- Working Sets navigator action contributions -->
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.eclipse.tcf.te.ui.views.workingsets.actions.WorkingSetActionProvider"
            id="org.eclipse.tcf.te.ui.views.navigator.actions.WorkingSetActions">
           <enablement>
                <or>
					<adapt type="java.lang.Object" />	 
					<adapt type="java.util.Collection"> 
						<count value="0" />
					</adapt>
				</or>
           </enablement>            
      </actionProvider>
   </extension>
   
<!-- Working Sets navigator content contributions -->
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            id="org.eclipse.tcf.te.ui.views.navigator.filters.workingSet"
            name="%filters.workingSet.name"
            description="%filters.workingSet.description" 
            class="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetFilter" 
            activeByDefault="false"
            visibleInUI="false">
      </commonFilter>

      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetsContentProvider"
            icon="icons/obj16/workingsets.gif"
            id="org.eclipse.tcf.te.ui.views.navigator.content.workingSets"
            labelProvider="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetsLabelProvider"
            name="%workingsets.extension.name"
            priority="higher">
         <triggerPoints>
            <or>
               <instanceof value="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetViewStateManager"/>
               <instanceof value="org.eclipse.ui.IWorkingSet"/>
               <instanceof value="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetElementHolder"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetViewStateManager"/>
               <instanceof value="org.eclipse.ui.IWorkingSet"/>
               <instanceof value="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetElementHolder"/>
               <instanceof
                     value="org.eclipse.tcf.te.runtime.interfaces.workingsets.IWorkingSetElement">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetViewerSorter"
               id="org.eclipse.tcf.te.ui.views.navigator.content.workingSets.sorter">
         </commonSorter>
      </navigatorContent>
      
   </extension>

<!-- Working Set contributions -->
   <extension point="org.eclipse.ui.workingSets">
      <workingSet
            description="%workingset.description"
            elementAdapterClass="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetElementAdapter"
            icon="icons/obj16/workingset.gif"
            id="org.eclipse.tcf.te.ui.views.workingset"
            name="%workingset.name"
            pageClass="org.eclipse.tcf.te.ui.views.workingsets.pages.TargetWorkingSetPage"
            updaterClass="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetElementUpdater">
      </workingSet>

      <workingSet
            description="%workingset.others.description"
            icon="icons/obj16/workingset.gif"
            id="org.eclipse.tcf.te.ui.views.workingset.others"
            name="%workingset.others.name"
            updaterClass="org.eclipse.tcf.te.ui.views.workingsets.OthersWorkingSetElementUpdater">
      </workingSet>
   </extension>

<!-- Element factories -->
   <extension point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetElementHolderFactory"
            id="org.eclipse.tcf.te.ui.views.workingsets.WorkingSetElementHolderFactory">
      </factory>
      <factory
            class="org.eclipse.tcf.te.ui.views.workingsets.CustomizedOrderComparatorFactory"
            id="org.eclipse.tcf.te.ui.views.workingsets.CustomizedOrderComparatorFactory">
      </factory>
   </extension>

</plugin>
