<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Adapter factory contributions -->
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.tcf.te.launch.ui.model.LaunchNode"
            class="org.eclipse.tcf.te.launch.ui.internal.adapters.AdapterFactory">
         <adapter type="org.eclipse.jface.viewers.ILabelProvider"/>
      </factory>
   </extension>

<!-- Property tester contributions -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.tcf.te.launch.ui.internal.LaunchNodePropertyTester"
            id="org.eclipse.tcf.te.launch.ui.propertytester.launchNode"
            namespace="org.eclipse.tcf.te.launch.ui.model"
            properties="isLaunchConfig,isLaunchConfigType,canDelete,canRefresh,isValidLaunchConfig"
            type="org.eclipse.tcf.te.launch.ui.model.LaunchNode">
      </propertyTester>
   </extension>

<!-- Editor page contributions -->
   <extension point="org.eclipse.tcf.te.ui.views.editorPages">
      <editorPage
            class="org.eclipse.tcf.te.ui.views.editor.pages.TreeViewerExplorerEditorPage:org.eclipse.tcf.te.launch.ui.viewer.launches:Launches"
            name="%LauchEditorPage.name"
            icon="icons/obj16/launches_root.gif"
            id="org.eclipse.tcf.te.launch.ui.LaunchEditorPage">
      </editorPage>
   </extension>

<!-- Navigator viewer contributions -->
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.tcf.te.launch.ui.navigator.project.*"
                  isRoot="false"/>
         </includes>
      </viewerContentBinding>
   </extension>
   
<!-- Navigator content contributions -->
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="org.eclipse.tcf.te.launch.ui.navigator.project.content"
            name="%LauchTree.name"
      		icon="icons/obj16/launches_root.gif"
            activeByDefault="false"
            contentProvider="org.eclipse.tcf.te.launch.ui.internal.viewer.LaunchNavigatorContentProvider"
            labelProvider="org.eclipse.tcf.te.launch.ui.internal.viewer.LaunchTreeLabelProvider"
            priority="normal">
         <triggerPoints>
            <instanceof value="org.eclipse.core.resources.IProject"/>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.eclipse.tcf.te.launch.ui.model.LaunchNode"/>
         </possibleChildren>
         <commonSorter
               class="org.eclipse.tcf.te.launch.ui.internal.viewer.LaunchTreeViewerSorter">
         </commonSorter>
         <actionProvider
               class="org.eclipse.tcf.te.launch.ui.internal.handler.OpenActionProvider"
               id="org.eclipse.tcf.te.launch.ui.actions.open"
               overrides="org.eclipse.ui.navigator.resources.OpenActions">
	        <enablement>
               <reference definitionId="launch.expressions.isSingleLaunchConfig"/>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>

<!-- Viewer contributions -->
   <extension point="org.eclipse.tcf.te.ui.viewers">
      <viewer
            id="org.eclipse.tcf.te.launch.ui.viewer.launches"
            autoExpandLevel="2"
            contentProvider="org.eclipse.tcf.te.launch.ui.internal.viewer.LaunchTreeContentProvider"
            doubleClickCommand="org.eclipse.ui.navigator.Open"
            helpId="org.eclipse.tcf.te.launch.ui.LaunchEditorPage"
            menuId="org.eclipse.tcf.te.launch.ui.editor.menu.launches">
         <creation>
            <style name="SWT.FULL_SELECTION"/>
            <style name="SWT.SINGLE"/>
         </creation>
      </viewer>
      <columnContribution viewerId="org.eclipse.tcf.te.launch.ui.viewer.launches">
         <column
               id="launchConfigurations"
               labelProvider="org.eclipse.tcf.te.launch.ui.internal.viewer.LaunchTreeLabelProvider"
               name="%LauchEditorPage.column.name"
               width="250">
         </column>
         <column
               id="description"
               labelProvider="org.eclipse.tcf.te.launch.ui.internal.viewer.DescriptionColumnLabelProvider"
               name="%LauchEditorPage.column.description"
               width="300">
         </column>
         <column
               visible="false"
               id="lastLaunched"
               labelProvider="org.eclipse.tcf.te.launch.ui.internal.viewer.LastLaunchedColumnLabelProvider"
               name="%LauchEditorPage.column.lastLaunched"
               width="100">
         </column>
      </columnContribution>
   </extension>

<!-- Launches menu contributions -->
   <extension point="org.eclipse.ui.menus">

   <!-- Project explorer launches menu contributions -->
      <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <separator
               name="group.new"
               visible="true"/>
         <menu 
               id="org.eclipse.tcf.te.launch.ui.views.project.menu.new"
               label="%New.menu.name">
            <dynamic
                  id="org.eclipse.tcf.te.launch.ui.views.project.dynamic.new"
                  class="org.eclipse.tcf.te.launch.ui.internal.handler.NewLaunchConfigurationContributionItem">
               <visibleWhen>
                  <reference definitionId="launch.expressions.isSingleLaunchConfigOrType"/>
               </visibleWhen>
            </dynamic>
         </menu>
         <separator
               name="group.showIn"
               visible="true"/>
         <menu
               id="org.eclipse.tcf.te.launch.ui.views.project.menu.showIn"
               label="%ShowIn.menu.name">
            <command
                  commandId="org.eclipse.tcf.te.ui.views.command.ShowInProperties"
                  id="org.eclipse.tcf.te.launch.ui.views.project.commands.showInProperties"
                  icon="icons/eview16/prop_ps.gif" 
                  label="%Properties.menu.name"
                  style="push">
               <visibleWhen>
                  <reference definitionId="launch.expressions.isSingleLaunchConfig"/>
               </visibleWhen>
            </command>
            <visibleWhen checkEnabled="true"/>
         </menu>
         <separator
               name="group.launch"
               visible="true"/>
         <dynamic
               id="org.eclipse.tcf.te.launch.ui.views.project.dynamic.launch"
               class="org.eclipse.tcf.te.launch.ui.internal.handler.LaunchLaunchConfigurationContributionItem">
            <visibleWhen>
               <reference definitionId="launch.expressions.isSingleLaunchConfig"/>
            </visibleWhen>
         </dynamic>
         <separator
               name="group.open"
               visible="true"/>
         <menu 
               id="org.eclipse.tcf.te.launch.ui.views.project.menu.open"
               label="%Open.menu.name">
            <dynamic
                  id="org.eclipse.tcf.te.launch.ui.views.project.dynamic.open"
                  class="org.eclipse.tcf.te.launch.ui.internal.handler.OpenLaunchConfigurationContributionItem"/>
            <visibleWhen>
               <reference definitionId="launch.expressions.isSingleLaunchConfigType"/>
            </visibleWhen>
         </menu>
         <separator
               name="group.openAs"
               visible="true"/>
         <menu 
               id="org.eclipse.tcf.te.launch.ui.views.project.menu.openAs"
               label="%OpenAs.menu.name">
            <dynamic
                  id="org.eclipse.tcf.te.launch.ui.views.project.dynamic.openAs"
                  class="org.eclipse.tcf.te.launch.ui.internal.handler.OpenLaunchConfigurationContributionItem">
            </dynamic>
            <visibleWhen>
               <reference definitionId="launch.expressions.isSingleLaunchConfig"/>
            </visibleWhen>
         </menu>
         <separator
               name="group.delete"
               visible="false"/>
         <command
               commandId="org.eclipse.ui.edit.delete"
               id="org.eclipse.tcf.te.launch.ui.views.project.commands.delete"
               label="%Delete.menu.name"
               mnemonic="%Delete.menu.mnemonic"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference definitionId="launch.expressions.isMultiLaunchConfig"/>
            </visibleWhen>
         </command>
         <separator
               name="group.refresh"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.tcf.te.ui.command.refresh"
               id="org.eclipse.tcf.te.launch.ui.views.project.commands.refresh"
               label="%Refresh.menu.name"
               mnemonic="%Refresh.menu.mnemonic"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference definitionId="launch.expressions.isSingleLaunchNode"/>
            </visibleWhen>
         </command>
      </menuContribution>

   <!-- Target explorer launches menu contributions -->
      <menuContribution locationURI="popup:org.eclipse.tcf.te.ui.views.View#Popup?after=group.new">
         <menu 
               id="org.eclipse.tcf.te.ui.views.View.menu.new"
               label="%New.menu.name">
            <dynamic
                  id="org.eclipse.tcf.te.launch.ui.views.target.dynamic.new"
                  class="org.eclipse.tcf.te.launch.ui.internal.handler.NewLaunchConfigurationContributionItem">
               <visibleWhen>
                  <reference definitionId="launch.expressions.isSingleLaunchConfigOrType"/>
               </visibleWhen>
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.tcf.te.ui.views.View#Popup?after=group.launch">
         <dynamic
               id="org.eclipse.tcf.te.launch.ui.views.target.dynamic.launch"
               class="org.eclipse.tcf.te.launch.ui.internal.handler.LaunchLaunchConfigurationContributionItem">
            <visibleWhen>
               <reference definitionId="launch.expressions.isSingleLaunchConfig"/>
            </visibleWhen>
         </dynamic>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.tcf.te.ui.views.View#Popup?after=group.edit">
         <menu 
               id="org.eclipse.tcf.te.launch.ui.views.target.menu.open"
               label="%Open.menu.name">
            <dynamic
                  id="org.eclipse.tcf.te.launch.ui.views.target.dynamic.open"
                  class="org.eclipse.tcf.te.launch.ui.internal.handler.OpenLaunchConfigurationContributionItem"/>
            <visibleWhen>
               <reference definitionId="launch.expressions.isSingleLaunchConfigType"/>
            </visibleWhen>
         </menu>
         <menu 
               id="org.eclipse.tcf.te.launch.ui.views.target.menu.openAs"
               label="%OpenAs.menu.name">
            <dynamic
                  id="org.eclipse.tcf.te.launch.ui.views.target.dynamic.openAs"
                  class="org.eclipse.tcf.te.launch.ui.internal.handler.OpenLaunchConfigurationContributionItem"/>
            <visibleWhen>
               <reference definitionId="launch.expressions.isSingleLaunchConfig"/>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.tcf.te.ui.views.View#Popup?after=group.delete">
         <command
               commandId="org.eclipse.ui.edit.delete"
               disabledIcon="platform:/plugin/org.eclipse.ui/icons/full/dtool16/delete.gif"
               helpContextId="org.eclipse.tcf.te.ui.command_Delete"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete.gif"
               id="org.eclipse.tcf.te.ui.commands.delete"
               label="%command.delete.label"
               mnemonic="%Delete.menu.mnemonic"
               style="push"
               tooltip="%command.delete.description">
            <visibleWhen checkEnabled="false">
               <reference definitionId="launch.expressions.isMultiLaunchConfig"/>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution locationURI="popup:org.eclipse.tcf.te.ui.views.View#Popup?after=group.refresh">
         <command
               commandId="org.eclipse.tcf.te.ui.command.refresh"
               id="org.eclipse.tcf.te.launch.ui.views.project.commands.refresh"
               label="%Refresh.menu.name"
               mnemonic="%Refresh.menu.mnemonic"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference definitionId="launch.expressions.isSingleLaunchNode"/>
            </visibleWhen>
         </command>
      </menuContribution>

   <!-- Launches editor page menu contributions -->
      <menuContribution locationURI="popup:org.eclipse.tcf.te.launch.ui.editor.menu.launches">
         <separator
               name="group.new"
               visible="true"/>
         <menu 
               id="org.eclipse.tcf.te.launch.ui.editor.menu.new"
               label="%New.menu.name">
            <dynamic
                  id="org.eclipse.tcf.te.launch.ui.editor.dynamic.new"
                  class="org.eclipse.tcf.te.launch.ui.internal.handler.NewLaunchConfigurationContributionItem">
               <visibleWhen>
                  <reference definitionId="launch.expressions.isSingleLaunchConfigOrType"/>
               </visibleWhen>
            </dynamic>
         </menu>
         <separator
               name="group.showIn"
               visible="true"/>
         <menu
               id="org.eclipse.tcf.te.launch.ui.editor.menu.showIn"
               label="%ShowIn.menu.name">
            <command
                  commandId="org.eclipse.tcf.te.ui.views.command.ShowInProperties"
                  id="org.eclipse.tcf.te.launch.ui.editor.commands.showInProperties"
                  icon="icons/eview16/prop_ps.gif" 
                  label="%Properties.menu.name"
                  style="push">
               <visibleWhen>
                  <reference definitionId="launch.expressions.isSingleLaunchConfig"/>
               </visibleWhen>
            </command>
            <visibleWhen checkEnabled="true"/>
         </menu>
         <separator
               name="group.launch"
               visible="true"/>
         <dynamic
               id="org.eclipse.tcf.te.launch.ui.editor.dynamic.launch"
               class="org.eclipse.tcf.te.launch.ui.internal.handler.LaunchLaunchConfigurationContributionItem">
            <visibleWhen>
               <reference definitionId="launch.expressions.isSingleLaunchConfig"/>
            </visibleWhen>
         </dynamic>
         <separator
               name="group.edit"
               visible="true"/>
         <menu 
               id="org.eclipse.tcf.te.launch.ui.editor.menu.open"
               label="%Open.menu.name">
            <dynamic
                  id="org.eclipse.tcf.te.launch.ui.editor.dynamic.open"
                  class="org.eclipse.tcf.te.launch.ui.internal.handler.OpenLaunchConfigurationContributionItem"/>
            <visibleWhen>
               <reference definitionId="launch.expressions.isSingleLaunchConfigType"/>
            </visibleWhen>
         </menu>
         <menu 
               id="org.eclipse.tcf.te.launch.ui.editor.menu.openAs"
               label="%OpenAs.menu.name">
            <dynamic
                  id="org.eclipse.tcf.te.launch.ui.editor.dynamic.openAs"
                  class="org.eclipse.tcf.te.launch.ui.internal.handler.OpenLaunchConfigurationContributionItem">
            </dynamic>
            <visibleWhen>
               <reference definitionId="launch.expressions.isSingleLaunchConfig"/>
            </visibleWhen>
         </menu>
         <separator
               name="group.delete"
               visible="true"/>
         <command
               commandId="org.eclipse.ui.edit.delete"
               id="org.eclipse.tcf.te.launch.ui.editor.commands.delete"
               label="%Delete.menu.name"
               mnemonic="%Delete.menu.mnemonic"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference definitionId="launch.expressions.isMultiLaunchConfig"/>
            </visibleWhen>
         </command>
         <separator
               name="group.refresh"
               visible="true"/>
         <command
               commandId="org.eclipse.tcf.te.ui.command.refresh"
               id="org.eclipse.tcf.te.launch.ui.editor.commands.refresh"
               label="%Refresh.menu.name"
               mnemonic="%Refresh.menu.mnemonic"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference definitionId="launch.expressions.isSingleLaunchNode"/>
            </visibleWhen>
         </command>
      </menuContribution>
      
   <!-- Launches editor page toolbar contributions -->
      <menuContribution locationURI="toolbar:org.eclipse.tcf.te.launch.ui.editor.menu.launches">
         <separator
               name="group.run"
               visible="false"/>
         <command
               commandId="org.eclipse.tcf.te.ui.launch.command.run"
               id="org.eclipse.tcf.te.launch.ui.editor.toolbar.commands.run"
               label="%Run.menu.name"
               style="push"/>
         <separator
               name="group.debug"
               visible="false"/>
         <command
               commandId="org.eclipse.tcf.te.ui.launch.command.debug"
               id="org.eclipse.tcf.te.launch.ui.editor.toolbar.commands.debug"
               label="%Debug.menu.name"
               style="push"/>
         <separator
               name="group.launch"
               visible="false"/>
         <separator
               name="group.delete"
               visible="true"/>
         <command
               commandId="org.eclipse.ui.edit.delete"
               id="org.eclipse.tcf.te.launch.ui.editor.toolbar.commands.delete"
               label="%Delete.menu.name"
               style="push"/>
         <separator
               name="group.refresh"
               visible="false"/>
         <command
               commandId="org.eclipse.tcf.te.ui.command.refresh"
               id="org.eclipse.tcf.te.launch.ui.editor.toolbar.commands.refresh"
               label="%Refresh.menu.name"
               style="push"/>
      </menuContribution>
      
   </extension>

<!-- Command contributions -->
   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.tcf.te.ui.commands.category"
            description="%command.showInDebugView.description"
            helpContextId="org.eclipse.tcf.te.launch.command_ShowInDebugView"
            id="org.eclipse.tcf.te.launch.command.showInDebugView"
            name="%command.showInDebugView.name"/>
      <command
            categoryId="org.eclipse.tcf.te.ui.commands.category"
            description="%command.attach.description"
            helpContextId="org.eclipse.tcf.te.launch.command_Attach"
            id="org.eclipse.tcf.te.launch.command.attach"
            name="%command.attach.name"/>
      <command
            categoryId="org.eclipse.tcf.te.ui.commands.category"
            description="%command.detach.description"
            helpContextId="org.eclipse.tcf.te.launch.command_Detach"
            id="org.eclipse.tcf.te.launch.command.detach"
            name="%command.detach.name"/>
      <command
            helpContextId="org.eclipse.tcf.te.ui.launch.command_Run"
            id="org.eclipse.tcf.te.ui.launch.command.run"
            name="%Run.menu.name"/>
      <command
            helpContextId="org.eclipse.tcf.te.ui.launch.command_Debug"
            id="org.eclipse.tcf.te.ui.launch.command.debug"
            name="%Debug.menu.name"/>
   </extension>
   
<!-- Command image contributions -->
   <extension point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.tcf.te.ui.launch.command.run"
            icon="platform:/plugin/org.eclipse.debug.ui/icons/full/etool16/run_exc.gif"
            disabledIcon="platform:/plugin/org.eclipse.debug.ui/icons/full/dtool16/run_exc.gif"/>
      <image
            commandId="org.eclipse.tcf.te.ui.launch.command.debug"
            icon="platform:/plugin/org.eclipse.debug.ui/icons/full/etool16/debug_exc.gif"
            disabledIcon="platform:/plugin/org.eclipse.debug.ui/icons/full/dtool16/debug_exc.gif"/>
      <image
            commandId="org.eclipse.tcf.te.launch.command.showInDebugView"
            icon="platform:/plugin/org.eclipse.debug.ui/icons/full/eview16/debug_view.gif"/>
      <image
            commandId="org.eclipse.tcf.te.launch.command.attach"
            disabledIcon="icons/dlcl16/attach.gif"
            icon="icons/elcl16/attach.gif"/>
      <image
            commandId="org.eclipse.tcf.te.launch.command.detach"
            disabledIcon="icons/dlcl16/detach.gif"
            icon="icons/elcl16/detach.gif"/>
   </extension>

<!-- Handler contributions -->
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.ui.navigator.Open"
            class="org.eclipse.tcf.te.launch.ui.internal.handler.LaunchDialogHandler">
         <activeWhen>
            <and>
               <with variable="activePartId">
                  <or>
                     <equals value="org.eclipse.tcf.te.ui.views.View"/>
                     <equals value="org.eclipse.tcf.te.ui.views.Editor"/>
                     <equals value="org.eclipse.ui.navigator.ProjectExplorer"/>
                  </or>
               </with>
               <reference definitionId="launch.expressions.isSingleLaunchConfig"/>
            </and>
         </activeWhen>
         <enabledWhen>
            <with variable="selection">
               <iterate 
                     operator="and" 
                     ifEmpty="false">
                  <test property="org.eclipse.tcf.te.launch.ui.model.isValidLaunchConfig"/>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="org.eclipse.ui.edit.delete"
            class="org.eclipse.tcf.te.launch.ui.internal.handler.DeleteHandler">
         <activeWhen>
            <and>
               <with variable="activePartId">
                  <or>
                     <equals value="org.eclipse.tcf.te.ui.views.View"/>
                     <equals value="org.eclipse.tcf.te.ui.views.Editor"/>
                     <equals value="org.eclipse.ui.navigator.ProjectExplorer"/>
                  </or>
               </with>
               <reference definitionId="launch.expressions.isMultiLaunchConfig"/>
            </and>
         </activeWhen>
         <enabledWhen>
            <with variable="selection">
               <iterate 
                     operator="and" 
                     ifEmpty="false">
                  <test property="org.eclipse.tcf.te.launch.ui.model.canDelete"/>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="org.eclipse.tcf.te.ui.command.refresh"
            class="org.eclipse.tcf.te.launch.ui.internal.handler.RefreshHandler">
         <activeWhen>
            <and>
               <with variable="activePartId">
                  <or>
                     <equals value="org.eclipse.tcf.te.ui.views.View"/>
                     <equals value="org.eclipse.tcf.te.ui.views.Editor"/>
                     <equals value="org.eclipse.ui.navigator.ProjectExplorer"/>
                  </or>
               </with>
               <reference definitionId="launch.expressions.isSingleLaunchNode"/>
            </and>
         </activeWhen>
         <enabledWhen>
            <with variable="selection">
               <iterate 
                     operator="and" 
                     ifEmpty="false">
                  <test property="org.eclipse.tcf.te.launch.ui.model.canRefresh"/>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            commandId="org.eclipse.tcf.te.ui.views.command.ShowInProperties"
            class="org.eclipse.tcf.te.ui.views.handler.ShowInPropertiesHandler">
         <activeWhen>
            <and>
               <with variable="activePartId">
                  <or>
                     <equals value="org.eclipse.tcf.te.ui.views.Editor"/>
                     <equals value="org.eclipse.ui.navigator.ProjectExplorer"/>
                  </or>
               </with>
               <reference definitionId="launch.expressions.isSingleLaunchConfigOrType"/>
            </and>
         </activeWhen>
      </handler>
      <handler commandId="org.eclipse.tcf.te.ui.launch.command.run">
         <class class="org.eclipse.tcf.te.launch.ui.internal.handler.LaunchHandler">
            <parameter name="mode" value="run"/>
         </class>
         <activeWhen>
            <and>
               <with variable="activePartId">
                  <equals value="org.eclipse.tcf.te.ui.views.Editor"/>
               </with>
            </and>
         </activeWhen>
         <enabledWhen>
            <with variable="selection">
               <iterate 
                     operator="and" 
                     ifEmpty="false">
                  <and>
                     <test property="org.eclipse.tcf.te.launch.ui.model.isLaunchConfig"/>
                     <test property="org.eclipse.tcf.te.launch.ui.model.isValidLaunchConfig" value="run"/>
                  </and>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler commandId="org.eclipse.tcf.te.ui.launch.command.debug">
         <class class="org.eclipse.tcf.te.launch.ui.internal.handler.LaunchHandler">
            <parameter name="mode" value="debug"/>
         </class>
         <activeWhen>
            <and>
               <with variable="activePartId">
                  <equals value="org.eclipse.tcf.te.ui.views.Editor"/>
               </with>
            </and>
         </activeWhen>
         <enabledWhen>
            <with variable="selection">
               <iterate 
                     operator="and" 
                     ifEmpty="false">
                  <and>
                     <test property="org.eclipse.tcf.te.launch.ui.model.isLaunchConfig"/>
                     <test property="org.eclipse.tcf.te.launch.ui.model.isValidLaunchConfig" value="debug"/>
                  </and>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>

<!-- Property tab contributions -->
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.eclipse.tcf.te.ui">
         <propertyTab
               id="org.eclipse.tcf.te.launch.ui.propertytab.refprojects"
               label="%ReferencedProjects.propertyTab.name"
               category="org.eclipse.tcf.te"/>
         <propertyTab
               id="org.eclipse.tcf.te.launch.ui.propertytab.filetransfers"
               label="%FileTransfers.propertyTab.name"
               category="org.eclipse.tcf.te"/>
         <propertyTab
               id="org.eclipse.tcf.te.launch.ui.propertytab.general"
               label="%General.propertyTab.name"
               category="org.eclipse.tcf.te"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertyTab
               id="org.eclipse.tcf.te.launch.ui.project.propertytab.refprojects"
               label="%ReferencedProjects.propertyTab.name"
               category="general"/>
         <propertyTab
               id="org.eclipse.tcf.te.launch.ui.project.propertytab.filetransfers"
               label="%FileTransfers.propertyTab.name"
               category="general"/>
         <propertyTab
               id="org.eclipse.tcf.te.launch.ui.project.propertytab.general"
               label="%General.propertyTab.name"
               category="general"/>
      </propertyTabs>
   </extension>
   
<!-- Property section contributions -->
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.tcf.te.ui">
         <propertySection
               id="org.eclipse.tcf.te.launch.ui.launchconfigtype"
               class="org.eclipse.tcf.te.launch.ui.internal.properties.LaunchConfigTypePropertiesSection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.launch.ui.internal.properties.LaunchConfigTypeFilter"
               tab="org.eclipse.tcf.te.launch.ui.propertytab.general"/>
         <propertySection
               id="org.eclipse.tcf.te.launch.ui.launchcontext"
               class="org.eclipse.tcf.te.launch.ui.internal.properties.LaunchContextPropertiesSection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.launch.ui.internal.properties.LaunchContextFilter"
               tab="org.eclipse.tcf.te.launch.ui.propertytab.general"/>
         <propertySection
               id="org.eclipse.tcf.te.launch.ui.propertysection.refprojetcs"
               class="org.eclipse.tcf.te.launch.ui.internal.properties.RefProjectsPropertiesSection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.launch.ui.internal.properties.RefProjectsFilter"
               tab="org.eclipse.tcf.te.launch.ui.propertytab.refprojects"/>
         <propertySection
               id="org.eclipse.tcf.te.launch.ui.propertysection.filetransfers"
               class="org.eclipse.tcf.te.launch.ui.internal.properties.FileTransferPropertiesSection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.launch.ui.internal.properties.FileTransferFilter"
               tab="org.eclipse.tcf.te.launch.ui.propertytab.filetransfers"/>
      </propertySections>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertySection
               id="org.eclipse.tcf.te.launch.ui.project.launchconfigtype"
               class="org.eclipse.tcf.te.launch.ui.internal.properties.LaunchConfigTypePropertiesSection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.launch.ui.internal.properties.LaunchConfigTypeFilter"
               tab="org.eclipse.tcf.te.launch.ui.project.propertytab.general"/>
         <propertySection
               id="org.eclipse.tcf.te.launch.ui.project.launchcontext"
               class="org.eclipse.tcf.te.launch.ui.internal.properties.LaunchContextPropertiesSection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.launch.ui.internal.properties.LaunchContextFilter"
               tab="org.eclipse.tcf.te.launch.ui.project.propertytab.general"/>
         <propertySection
               id="org.eclipse.tcf.te.launch.ui.project.propertysection.refprojetcs"
               class="org.eclipse.tcf.te.launch.ui.internal.properties.RefProjectsPropertiesSection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.launch.ui.internal.properties.RefProjectsFilter"
               tab="org.eclipse.tcf.te.launch.ui.project.propertytab.refprojects"/>
         <propertySection
               id="org.eclipse.tcf.te.launch.ui.project.propertysection.filetransfers"
               class="org.eclipse.tcf.te.launch.ui.internal.properties.FileTransferPropertiesSection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.launch.ui.internal.properties.FileTransferFilter"
               tab="org.eclipse.tcf.te.launch.ui.project.propertytab.filetransfers"/>
      </propertySections>
   </extension>

<!-- Reusable core expression fragments -->   
   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="launch.expressions.isSingleLaunchConfigOrType">
	      <with variable="selection">
	         <count value="1"/>
	         <iterate
	               ifEmpty="false"
	               operator="and">
	            <and>
                   <instanceof value="org.eclipse.tcf.te.launch.ui.model.LaunchNode"/>
                   <or>
	                  <test property="org.eclipse.tcf.te.launch.ui.model.isLaunchConfig"/>
	                  <test property="org.eclipse.tcf.te.launch.ui.model.isLaunchConfigType"/>
	               </or>
	            </and>
	         </iterate>
	      </with>
      </definition>
      <definition id="launch.expressions.isSingleLaunchConfig">
          <with variable="selection">
             <count value="1"/>
             <iterate
                   ifEmpty="false"
                   operator="and">
	            <and>
                   <instanceof value="org.eclipse.tcf.te.launch.ui.model.LaunchNode"/>
                   <test property="org.eclipse.tcf.te.launch.ui.model.isLaunchConfig"/>
                </and>
             </iterate>
          </with>
      </definition>
      <definition id="launch.expressions.isMultiLaunchConfig">
          <with variable="selection">
             <iterate
                   ifEmpty="false"
                   operator="and">
	            <and>
                   <instanceof value="org.eclipse.tcf.te.launch.ui.model.LaunchNode"/>
                   <test property="org.eclipse.tcf.te.launch.ui.model.isLaunchConfig"/>
                </and>
             </iterate>
          </with>
      </definition>
      <definition id="launch.expressions.isSingleLaunchConfigType">
          <with variable="selection">
             <count value="1"/>
             <iterate
                   ifEmpty="false"
                   operator="and">
	            <and>
                   <instanceof value="org.eclipse.tcf.te.launch.ui.model.LaunchNode"/>
                   <test property="org.eclipse.tcf.te.launch.ui.model.isLaunchConfigType"/>
                </and>
             </iterate>
          </with>
      </definition>
      <definition id="launch.expressions.isSingleLaunchNode">
          <with variable="selection">
             <count value="1"/>
             <iterate
                   ifEmpty="false"
                   operator="and">
                <instanceof value="org.eclipse.tcf.te.launch.ui.model.LaunchNode"/>
             </iterate>
          </with>
      </definition>
   </extension>

</plugin>
