<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Launch configuration type contributions -->
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.tcf.te.tcf.launch.type.remote.app"
            icon="icons/obj16/remote_app.gif"
            id="org.eclipse.tcf.te.tcf.launch.type.remote.app.image">
      </launchConfigurationTypeImage>
   </extension>

   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.tcf.te.tcf.launch.ui.remote.app.LaunchConfigurationTabGroup"
            id="org.eclipse.tcf.te.tcf.launch.type.remote.app.tabgroup"
            type="org.eclipse.tcf.te.tcf.launch.type.remote.app">
      </launchConfigurationTabGroup>
   </extension>
</plugin>
