<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Service contributions -->
   <extension point="org.eclipse.tcf.te.runtime.services.services">
      <service
            class="org.eclipse.tcf.te.tcf.launch.ui.internal.services.DebugService"
            id="org.eclipse.tcf.te.tcf.launch.core.services.debug">
         <serviceType
               bundleId="org.eclipse.tcf.te.runtime.services"
               class="org.eclipse.tcf.te.runtime.services.interfaces.IDebugService"/>
         <enablement>
            <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
         </enablement>
      </service>
   </extension>

<!-- Launch configuration type contributions -->
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.tcf.te.tcf.launch.type.remote.app"
            icon="icons/obj16/remote_app.gif"
            id="org.eclipse.tcf.te.tcf.launch.type.remote.app.image"/>
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.tcf.te.tcf.launch.type.attach"
            icon="icons/obj16/attach.gif"
            id="org.eclipse.tcf.te.tcf.launch.type.attach.image"/>
   </extension>

<!-- Launch configuration tab group contributions -->
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.tcf.te.tcf.launch.ui.remote.app.LaunchConfigurationTabGroup"
            id="org.eclipse.tcf.te.tcf.launch.type.remote.app.tabgroup"
            type="org.eclipse.tcf.te.tcf.launch.type.remote.app"/>
      <launchConfigurationTabGroup
            class="org.eclipse.tcf.te.tcf.launch.ui.attach.LaunchConfigurationTabGroup"
            id="org.eclipse.tcf.te.tcf.launch.type.attach.tabgroup"
            type="org.eclipse.tcf.te.tcf.launch.type.attach"/>
   </extension>
   
 <!-- Launch shortcut contributions -->
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            id="org.eclipse.tcf.te.tcf.launch.ui.launchshortcut.remote.app.run"
            label="%LaunchShortcut.Remote.App.name"
            icon="icons/obj16/remote_app.gif"
            modes="run">
         <class class="org.eclipse.tcf.te.launch.ui.handler.LaunchShortcutHandler">
            <parameter name="typeId" value="org.eclipse.tcf.te.tcf.launch.type.remote.app"/>
         </class>
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <iterate ifEmpty="false">
                     <test 
                           forcePluginActivation="true"
                           property="org.eclipse.tcf.te.launch.core.isValidLaunchConfigType"
                           value="org.eclipse.tcf.te.tcf.launch.type.remote.app"
                           args="run"/>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            id="org.eclipse.tcf.te.tcf.launch.ui.launchshortcut.remote.app.debug"
            label="%LaunchShortcut.Remote.App.name"
            icon="icons/obj16/remote_app.gif"
            modes="debug">
         <class class="org.eclipse.tcf.te.launch.ui.handler.LaunchShortcutHandler">
            <parameter name="typeId" value="org.eclipse.tcf.te.tcf.launch.type.remote.app"/>
         </class>
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <iterate ifEmpty="false">
                     <test 
                           forcePluginActivation="true"
                           property="org.eclipse.tcf.te.launch.core.isValidLaunchConfigType"
                           value="org.eclipse.tcf.te.tcf.launch.type.remote.app"
                           args="debug"/>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            id="org.eclipse.tcf.te.tcf.launch.ui.launchshortcut.attach.debug"
            label="%LaunchShortcut.Attach.name"
            icon="icons/obj16/attach.gif"
            modes="debug">
         <class class="org.eclipse.tcf.te.launch.ui.handler.LaunchShortcutHandler">
            <parameter name="typeId" value="org.eclipse.tcf.te.tcf.launch.type.attach"/>
         </class>
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <iterate ifEmpty="false">
                     <test 
                           forcePluginActivation="true"
                           property="org.eclipse.tcf.te.launch.core.isValidLaunchConfigType"
                           value="org.eclipse.tcf.te.tcf.launch.type.attach"
                           args="debug"/>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

<!-- Editor page contributions -->
   <extension point="org.eclipse.tcf.te.ui.views.editorPages">
      <editorPage
            class="org.eclipse.tcf.te.tcf.launch.ui.editor.MemoryMapEditorPage"
            name="%MemoryMapEditorPage.name"
            id="org.eclipse.tcf.te.tcf.launch.ui.MemoryMapEditorPage">
      </editorPage>

      <editorPage
            class="org.eclipse.tcf.te.tcf.launch.ui.editor.PathMapEditorPage"
            name="%PathMapEditorPage.name"
            id="org.eclipse.tcf.te.tcf.launch.ui.PathMapEditorPage">
      </editorPage>

      <editorPage
            class="org.eclipse.tcf.te.tcf.launch.ui.editor.SourceLookupEditorPage"
            name="%SourceLookupEditorPage.name"
            id="org.eclipse.tcf.te.launch.ui.SourceLookupEditorPage">
      </editorPage>
   </extension>

<!-- Editor page binding contributions -->
   <extension point="org.eclipse.tcf.te.ui.views.editorPageBindings">
      <editorPageBinding
            id="org.eclipse.tcf.te.tcf.launch.ui.binding.LaunchEditorPage"
            pageId="org.eclipse.tcf.te.launch.ui.LaunchEditorPage"
            insertAfter="last">
         <enablement>
            <with variable="activeEditorInput">
               <and>
                  <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
                  <test property="org.eclipse.tcf.te.tcf.locator.hasRemoteService" value="Processes"/>
               </and>
            </with>
         </enablement>
      </editorPageBinding>
   </extension>

<!-- Navigator viewer contributions -->
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.tcf.te.ui.views.View">
         <includes>
            <contentExtension 
                  pattern="org.eclipse.tcf.te.tcf.launch.ui.navigator.*"
                  isRoot="false"/>
         </includes>
      </viewerContentBinding>
   </extension>
   
<!-- Navigator content contributions -->
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="org.eclipse.tcf.te.tcf.launch.ui.navigator.content"
            name="%LauchTree.name"
      		icon="icons/obj16/launches_root.gif"
            activeByDefault="false"
            contentProvider="org.eclipse.tcf.te.launch.ui.viewer.LaunchNavigatorContentProvider"
            labelProvider="org.eclipse.tcf.te.launch.ui.viewer.LaunchTreeLabelProvider"
            priority="lowest">
         <triggerPoints>
            <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="org.eclipse.tcf.te.launch.ui.model.LaunchNode"/>
         </possibleChildren>
         <commonSorter class="org.eclipse.tcf.te.launch.ui.viewer.LaunchTreeViewerSorter"/>
      </navigatorContent>
   </extension>

<!-- Menu contributions -->
   <extension point="org.eclipse.ui.menus">
   <!-- Project explorer menu contributions -->
      <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=additions">
         <separator name="org.eclipse.tcf.te.tcf.ui.launch.remote.app.launch" visible="true"/>
         <command
               commandId="org.eclipse.tcf.te.tcf.ui.launch.remote.app.command.run"
               disabledIcon="platform:/plugin/org.eclipse.debug.ui/icons/full/dtool16/run_exc.gif"
               icon="platform:/plugin/org.eclipse.debug.ui/icons/full/etool16/run_exc.gif"
               id="org.eclipse.tcf.te.tcf.ui.launch.remote.app.run"
               label="%LaunchShortcutHandler.Remote.App.run.name"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <iterate 
                        operator="and" 
                        ifEmpty="false">
                     <and>
                        <adapt type="org.eclipse.debug.ui.actions.ILaunchable"/>
                        <test 
                              forcePluginActivation="true"
                              property="org.eclipse.tcf.te.launch.core.isValidLaunchConfigType"
                              value="org.eclipse.tcf.te.tcf.launch.type.remote.app"
                              args="run"/>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.tcf.te.tcf.ui.launch.remote.app.command.debug"
               disabledIcon="platform:/plugin/org.eclipse.debug.ui/icons/full/dtool16/debug_exc.gif"
               icon="platform:/plugin/org.eclipse.debug.ui/icons/full/etool16/debug_exc.gif"
               id="org.eclipse.tcf.te.tcf.ui.launch.remote.app.debug"
               label="%LaunchShortcutHandler.Remote.App.debug.name"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <iterate 
                        operator="and" 
                        ifEmpty="false">
                     <and>
                        <adapt type="org.eclipse.debug.ui.actions.ILaunchable"/>
                        <test 
                              forcePluginActivation="true"
                              property="org.eclipse.tcf.te.launch.core.isValidLaunchConfigType"
                              value="org.eclipse.tcf.te.tcf.launch.type.remote.app"
                              args="run"/>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   <!-- Target explorer menu contributions -->
      <menuContribution locationURI="popup:org.eclipse.tcf.te.ui.views.View#Popup?before=additions">
         <separator name="org.eclipse.tcf.te.tcf.ui.launch.remote.app.launch" visible="true"/>
         <command
               commandId="org.eclipse.tcf.te.tcf.ui.launch.remote.app.command.run"
               disabledIcon="platform:/plugin/org.eclipse.debug.ui/icons/full/dtool16/run_exc.gif"
               icon="platform:/plugin/org.eclipse.debug.ui/icons/full/etool16/run_exc.gif"
               id="org.eclipse.tcf.te.tcf.ui.launch.remote.app.run"
               label="%LaunchShortcutHandler.Remote.App.run.name"
               style="push">
            <visibleWhen checkEnabled="false">
            <with variable="selection">
               <with variable="selection">
                  <iterate 
                        operator="and" 
                        ifEmpty="false">
                     <test 
                           forcePluginActivation="true"
                           property="org.eclipse.tcf.te.launch.core.isValidLaunchConfigType"
                           value="org.eclipse.tcf.te.tcf.launch.type.remote.app"
                           args="run"/>
                  </iterate>
               </with>
            </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.tcf.te.tcf.ui.launch.remote.app.command.debug"
               disabledIcon="platform:/plugin/org.eclipse.debug.ui/icons/full/dtool16/debug_exc.gif"
               icon="platform:/plugin/org.eclipse.debug.ui/icons/full/etool16/debug_exc.gif"
               id="org.eclipse.tcf.te.tcf.ui.launch.remote.app.debug"
               label="%LaunchShortcutHandler.Remote.App.debug.name"
               style="push">
            <visibleWhen checkEnabled="false">
            <with variable="selection">
               <with variable="selection">
                  <iterate 
                        operator="and" 
                        ifEmpty="false">
                     <test 
                           forcePluginActivation="true"
                           property="org.eclipse.tcf.te.launch.core.isValidLaunchConfigType"
                           value="org.eclipse.tcf.te.tcf.launch.type.remote.app"
                           args="debug"/>
                  </iterate>
               </with>
            </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

<!-- Command contributions -->
   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.tcf.te.ui.commands.category"
            id="org.eclipse.tcf.te.tcf.ui.launch.remote.app.command.run"
            name="%LaunchShortcutHandler.Remote.App.run.name"/>
      <command
            categoryId="org.eclipse.tcf.te.ui.commands.category"
            id="org.eclipse.tcf.te.tcf.ui.launch.remote.app.command.debug"
            name="%LaunchShortcutHandler.Remote.App.debug.name"/>
   </extension>

<!-- Handler contributions -->
   <extension point="org.eclipse.ui.handlers">
      <handler commandId="org.eclipse.tcf.te.tcf.ui.launch.remote.app.command.run">
         <class class="org.eclipse.tcf.te.launch.ui.handler.LaunchShortcutHandler">
            <parameter name="mode" value="run"/>
            <parameter name="typeId" value="org.eclipse.tcf.te.tcf.launch.type.remote.app"/>
         </class>
         <activeWhen>
            <with variable="activePartId">
               <or>
                  <equals value="org.eclipse.tcf.te.ui.views.View"/>
                  <equals value="org.eclipse.ui.navigator.ProjectExplorer"/>
               </or>
            </with>
         </activeWhen>
         <enabledWhen>
            <with variable="selection">
               <iterate 
                     operator="and" 
                     ifEmpty="false">
                  <test 
                        forcePluginActivation="true"
                        property="org.eclipse.tcf.te.launch.core.isValidLaunchConfigType"
                        value="org.eclipse.tcf.te.tcf.launch.type.remote.app"
                        args="run"/>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler commandId="org.eclipse.tcf.te.tcf.ui.launch.remote.app.command.debug">
         <class class="org.eclipse.tcf.te.launch.ui.handler.LaunchShortcutHandler">
            <parameter name="mode" value="debug"/>
            <parameter name="typeId" value="org.eclipse.tcf.te.tcf.launch.type.remote.app"/>
         </class>
         <activeWhen>
            <with variable="activePartId">
               <or>
                  <equals value="org.eclipse.tcf.te.ui.views.View"/>
                  <equals value="org.eclipse.ui.navigator.ProjectExplorer"/>
               </or>
            </with>
         </activeWhen>
         <enabledWhen>
            <with variable="selection">
               <iterate 
                     operator="and" 
                     ifEmpty="false">
                  <test 
                        forcePluginActivation="true"
                        property="org.eclipse.tcf.te.launch.core.isValidLaunchConfigType"
                        value="org.eclipse.tcf.te.tcf.launch.type.remote.app"
                        args="debug"/>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>

<!-- Property section contributions -->
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.tcf.te.ui">
         <propertySection
               id="org.eclipse.tcf.te.tcf.launch.ui.propertytab.remote.app"
               class="org.eclipse.tcf.te.tcf.launch.ui.remote.app.RemoteAppPropertiesSection"
               enablesFor="1"
               afterSection="org.eclipse.tcf.te.launch.ui.launchcontext"
               filter="org.eclipse.tcf.te.tcf.launch.ui.remote.app.RemoteAppFilter"
               tab="org.eclipse.tcf.te.launch.ui.propertytab.general"/>
      </propertySections>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.eclipse.ui.navigator.ProjectExplorer">
         <propertySection
               id="org.eclipse.tcf.te.tcf.launch.ui.project.propertytab.remote.app"
               class="org.eclipse.tcf.te.tcf.launch.ui.remote.app.RemoteAppPropertiesSection"
               enablesFor="1"
               afterSection="org.eclipse.tcf.te.launch.ui.project.launchcontext"
               filter="org.eclipse.tcf.te.tcf.launch.ui.remote.app.RemoteAppFilter"
               tab="org.eclipse.tcf.te.launch.ui.project.propertytab.general"/>
      </propertySections>
   </extension>
</plugin>
