<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Adapter factory contributions -->
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.tcf.te.tcf.processes.ui.model.ProcessTreeNode"
            class="org.eclipse.tcf.te.tcf.processes.ui.internal.adapters.AdapterFactory">
         <adapter type="org.eclipse.jface.viewers.ILabelProvider"/>
         <adapter type="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
         <adapter type="org.eclipse.tcf.te.ui.views.interfaces.handler.IRefreshHandlerDelegate"/>
      </factory>
   </extension>

<!-- Editor page contributions -->
   <extension point="org.eclipse.tcf.te.ui.views.editorPages">
      <editorPage
            class="org.eclipse.tcf.te.ui.views.editor.pages.TreeViewerExplorerEditorPage:org.eclipse.tcf.te.ui.controls.viewer.processes:Process Monitor"
            name="%ProcessExplorerEditorPage.name"
            id="org.eclipse.tcf.te.tcf.processes.ui.ProcessExplorerEditorPage">
      </editorPage>
   </extension>

<!-- Editor page binding contributions -->
   <extension point="org.eclipse.tcf.te.ui.views.editorPageBindings">
      <editorPageBinding
            id="org.eclipse.tcf.te.tcf.processes.ui.binding.ProcessExplorerEditorPage"
            pageId="org.eclipse.tcf.te.tcf.processes.ui.ProcessExplorerEditorPage">
         <enablement>
            <with variable="activeEditorInput">
               <and>
                  <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
                  <test property="org.eclipse.tcf.te.tcf.locator.hasRemoteService" value="Processes"/>
               </and>
            </with>
         </enablement>
      </editorPageBinding>
   </extension>

<!-- Processes menu contributions -->
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.tcf.te.ui.views.View#Popup?after=group.launch">
         <command
               commandId="org.eclipse.tcf.te.tcf.processes.ui.command.launch"
               helpContextId="org.eclipse.tcf.te.tcf.processes.ui.command_Launch"
               icon="platform:/plugin/org.eclipse.debug.ui/icons/full/obj16/lrun_obj.gif"
               id="org.eclipse.tcf.te.tcf.processes.ui.commands.launch"
               label="%command.launch.label"
               style="push"
               tooltip="%command.launch.tooltip">
               <visibleWhen checkEnabled="false">
                  <and>
                     <with variable="selection">
                        <count value="1"/>
                        <iterate operator="and" ifEmpty="false">
                           <adapt type="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel">
                              <test
                                    property="org.eclipse.tcf.te.tcf.locator.hasRemoteService"
                                    value="Processes">
                              </test>
                           </adapt>
                        </iterate>
                     </with>
                  </and>
               </visibleWhen>
         </command>
      </menuContribution>
      
      <menuContribution locationURI="toolbar:org.eclipse.tcf.te.ui.controls.menu.processes?after=additions">
         <command
               commandId="org.eclipse.tcf.te.tcf.processes.ui.command.refreshViewer"
               icon="icons/obj16/refresh.gif"
               label="%command.refresh.label"
               style="push"
               tooltip="%command.refresh.tooltip">
         </command>
         <command
               commandId="org.eclipse.tcf.te.tcf.processes.ui.command.refreshInterval"
               icon="icons/obj16/refresh_interval.png"
               id="org.eclipse.tcf.te.tcf.processes.ui.menu.refreshInterval"
               label="%command.configure.label"
               style="pulldown"
               tooltip="%command.configure.tooltip">
         </command>
         <separator
               name="refreshing_group"
               visible="true">
         </separator>
      </menuContribution>

      <menuContribution locationURI="menu:org.eclipse.tcf.te.tcf.processes.ui.menu.refreshInterval">
         <dynamic
               class="org.eclipse.tcf.te.tcf.processes.ui.internal.handler.ConfigIntervalDynamicContribution"
               id="org.eclipse.tcf.te.tcf.processes.ui.menu.refreshIntervalDynamic">
         </dynamic>
      </menuContribution>

      <menuContribution locationURI="popup:org.eclipse.tcf.te.ui.views.View#Popup?after=group.launch.rundebug">
         <command
               commandId="org.eclipse.tcf.te.launch.command.attach"
               disabledIcon="platform:/plugin/org.eclipse.tcf.te.launch.ui/icons/dlcl16/attach.gif"
               icon="platform:/plugin/org.eclipse.tcf.te.launch.ui/icons/elcl16/attach.gif"
               id="org.eclipse.tcf.te.tcf.processes.ui.commands.attach"
               label="%command.attach.label"
               style="push"
               tooltip="%command.attach.tooltip">
            <visibleWhen checkEnabled="false">
               <reference definitionId="te.expressions.processes.isProcessTreeNode"/>
            </visibleWhen>
         </command>

         <command
               commandId="org.eclipse.tcf.te.launch.command.detach"
               disabledIcon="platform:/plugin/org.eclipse.tcf.te.launch.ui/icons/dlcl16/detach.gif"
               icon="platform:/plugin/org.eclipse.tcf.te.launch.ui/icons/elcl16/detach.gif"
               id="org.eclipse.tcf.te.tcf.processes.ui.commands.detach"
               label="%command.detach.label"
               style="push"
               tooltip="%command.detach.tooltip">
            <visibleWhen checkEnabled="false">
               <reference definitionId="te.expressions.processes.isProcessTreeNode"/>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.tcf.te.launch.command.terminate"
               icon="platform:/plugin/org.eclipse.debug.ui/icons/full/elcl16/terminate_co.gif"
               id="org.eclipse.tcf.te.launch.menu.terminate"
               label="%command.terminate.label"
               style="push"
               tooltip="%command.terminate.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="te.expressions.processes.isProcessTreeNode">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      
      <menuContribution
            locationURI="popup:org.eclipse.tcf.te.ui.controls.menu.processes?after=additions">
         <separator
               name="group.launch.rundebug"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.tcf.te.launch.command.attach"
               disabledIcon="platform:/plugin/org.eclipse.tcf.te.launch.ui/icons/dlcl16/attach.gif"
               icon="platform:/plugin/org.eclipse.tcf.te.launch.ui/icons/elcl16/attach.gif"
               id="org.eclipse.tcf.te.tcf.processes.ui.commands.attach"
               label="%command.attach.label"
               style="push"
               tooltip="%command.attach.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="te.expressions.processes.isProcessTreeNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.tcf.te.launch.command.detach"
               disabledIcon="platform:/plugin/org.eclipse.tcf.te.launch.ui/icons/dlcl16/detach.gif"
               icon="platform:/plugin/org.eclipse.tcf.te.launch.ui/icons/elcl16/detach.gif"
               id="org.eclipse.tcf.te.tcf.processes.ui.commands.detach"
               label="%command.detach.label"
               style="push"
               tooltip="%command.detach.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="te.expressions.processes.isProcessTreeNode">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.tcf.te.launch.command.terminate"
               icon="icons/obj16/process.gif"
               id="org.eclipse.tcf.te.launch.menu.terminate"
               label="%command.terminate.label"
               style="push"
               tooltip="%command.terminate.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="te.expressions.processes.isProcessTreeNode">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="group.refresh"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.tcf.te.ui.command.refresh"
               id="org.eclipse.tcf.te.ui.commands.refresh"
               label="%command.refresh.label.1"
               mnemonic="f"
               style="push"
               tooltip="%command.refresh.tooltip.1">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="+">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="org.eclipse.tcf.te.ui.views.isRefreshableElement"
                           value="true">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="group.properties"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.properties"
               id="properties"
               label="%command.properties.label.0">
            <visibleWhen>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <instanceof
                              value="org.eclipse.tcf.te.tcf.processes.ui.model.ProcessTreeNode">
                        </instanceof>
                        <not>
                           <test
                                 property="org.eclipse.tcf.te.tcf.processes.ui.model.isSystemRoot">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.tcf.te.ui.views.View#Popup?after=group.properties">
         <command
               commandId="org.eclipse.ui.file.properties"
               id="properties"
               label="%command.properties.label.1">
            <visibleWhen>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <instanceof
                              value="org.eclipse.tcf.te.tcf.processes.ui.model.ProcessTreeNode">
                        </instanceof>
                        <not>
                           <test
                                 property="org.eclipse.tcf.te.tcf.processes.ui.model.isSystemRoot">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

<!-- Command contributions -->
   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.tcf.te.ui.commands.category"
            helpContextId="org.eclipse.tcf.te.tcf.processes.ui.command_Launch"
            id="org.eclipse.tcf.te.tcf.processes.ui.command.launch"
            name="%command.launch.name">
      </command>
      <command
            categoryId="org.eclipse.tcf.te.ui.commands.category"
            helpContextId="org.eclipse.tcf.te.tcf.processes.ui.command_Refresh"
            id="org.eclipse.tcf.te.tcf.processes.ui.command.refreshViewer"
            name="%command.refresh.name">
      </command>
      <command
            categoryId="org.eclipse.tcf.te.ui.commands.category"
            helpContextId="org.eclipse.tcf.te.tcf.processes.ui.command_RefreshInterval"
            id="org.eclipse.tcf.te.tcf.processes.ui.command.refreshInterval"
            name="%command.configure.name">
      </command>
      <command
            categoryId="org.eclipse.tcf.te.ui.commands.category"
            helpContextId="org.eclipse.tcf.te.launch.command_erminate"
            id="org.eclipse.tcf.te.launch.command.terminate"
            name="%command.terminate.name">
      </command>
   </extension>

<!-- Handler contributions -->
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.tcf.te.tcf.processes.ui.internal.handler.LaunchProcessesCommandHandler"
            commandId="org.eclipse.tcf.te.tcf.processes.ui.command.launch">
      </handler>

      <handler
            class="org.eclipse.tcf.te.tcf.processes.ui.internal.handler.RefreshProcessListHandler"
            commandId="org.eclipse.tcf.te.tcf.processes.ui.command.refreshViewer">
      </handler>

      <handler
            class="org.eclipse.tcf.te.tcf.processes.ui.internal.handler.ConfigRefreshIntervalHandler"
            commandId="org.eclipse.tcf.te.tcf.processes.ui.command.refreshInterval">
      </handler>

      <handler
            class="org.eclipse.tcf.te.tcf.processes.ui.internal.handler.AttachHandler"
            commandId="org.eclipse.tcf.te.launch.command.attach">
            <activeWhen>
               <and>
                  <with variable="activePartId">
                     <or>
                        <equals
                              value="org.eclipse.tcf.te.ui.views.View">
                        </equals>
                        <equals
                              value="org.eclipse.tcf.te.ui.views.Editor">
                        </equals>
                     </or>
                  </with>
                  <reference definitionId="te.expressions.processes.isProcessTreeNode"/>
               </and>
            </activeWhen>
            <enabledWhen>
               <with variable="selection">
                  <count value="+"/>
                  <iterate operator="and" ifEmpty="false">
                     <adapt type="org.eclipse.tcf.te.tcf.processes.ui.model.ProcessTreeNode">
                        <test property="org.eclipse.tcf.te.tcf.processes.ui.model.isAttached" value="false"/>
                     </adapt>
                  </iterate>
               </with>
            </enabledWhen>
      </handler>

      <handler
            class="org.eclipse.tcf.te.tcf.processes.ui.internal.handler.DetachHandler"
            commandId="org.eclipse.tcf.te.launch.command.detach">
            <activeWhen>
               <and>
                  <with variable="activePartId">
                     <or>
                        <equals
                              value="org.eclipse.tcf.te.ui.views.View">
                        </equals>
                        <equals
                              value="org.eclipse.tcf.te.ui.views.Editor">
                        </equals>
                     </or>
                  </with>
                  <reference definitionId="te.expressions.processes.isProcessTreeNode"/>
               </and>
            </activeWhen>
            <enabledWhen>
               <with variable="selection">
                  <count value="+"/>
                  <iterate operator="and" ifEmpty="false">
                     <adapt type="org.eclipse.tcf.te.tcf.processes.ui.model.ProcessTreeNode">
                        <test property="org.eclipse.tcf.te.tcf.processes.ui.model.isAttached" value="true"/>
                     </adapt>
                  </iterate>
               </with>
            </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.tcf.te.tcf.processes.ui.internal.handler.TerminateHandler"
            commandId="org.eclipse.tcf.te.launch.command.terminate">
         <activeWhen>
            <and>
               <with
                     variable="activePartId">
                  <or>
                     <equals
                           value="org.eclipse.tcf.te.ui.views.View">
                     </equals>
                     <equals
                           value="org.eclipse.tcf.te.ui.views.Editor">
                     </equals>
                  </or>
               </with>
               <reference
                     definitionId="te.expressions.processes.isProcessTreeNode">
               </reference>
            </and>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="+">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.tcf.te.tcf.processes.ui.model.ProcessTreeNode">
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>

<!-- Reusable core expression fragments -->   
   <extension point="org.eclipse.core.expressions.definitions">
      
      <!-- 
         Expression to test if the selection contains single process tree nodes only.
      -->
      <definition id="te.expressions.processes.isProcessTreeNode">
         <with variable="selection">
            <count value="+"/>
            <iterate operator="and" ifEmpty="false">
               <and>
                  <instanceof value="org.eclipse.tcf.te.tcf.processes.ui.model.ProcessTreeNode"/>
                  <adapt type="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel">
                     <test
                           property="org.eclipse.tcf.te.tcf.locator.hasRemoteService"
                           value="Processes">
                     </test>
                  </adapt>
               </and>
            </iterate>
         </with>
      </definition>

   </extension>

<!-- Eclipse core expressions property tester -->
   
   <extension point="org.eclipse.tcf.te.ui.viewers">
      <viewer
            autoExpandLevel="0"
            contentProvider="org.eclipse.tcf.te.tcf.processes.ui.controls.ProcessTreeContentProvider"
            helpId="org.eclipse.tcf.te.tcf.processes.ui.ProcessExplorerEditorPage"
            id="org.eclipse.tcf.te.ui.controls.viewer.processes"
            menuId="org.eclipse.tcf.te.ui.controls.menu.processes"
            persistent="true">
         <creation>
            <style
                  name="SWT.FULL_SELECTION">
            </style>
            <style
                  name="SWT.MULTI">
            </style>
         </creation>
      </viewer>
      <columnContribution
      		viewerId="org.eclipse.tcf.te.ui.controls.viewer.processes">
         <column
               comparator="org.eclipse.tcf.te.tcf.processes.ui.internal.columns.ProcessComparator"
               id="name"
               labelProvider="org.eclipse.tcf.te.tcf.processes.ui.internal.columns.ProcessLabelProvider"
               moveable="true"
               name="%column.name.name"
               resizable="true"
               visible="true"
               width="250">
         </column>
         <column
               comparator="org.eclipse.tcf.te.tcf.processes.ui.internal.columns.PIDComparator"
               id="pid"
               labelProvider="org.eclipse.tcf.te.tcf.processes.ui.internal.columns.PIDLabelProvider"
               moveable="true"
               name="%column.name.pid"
               resizable="true"
               style="SWT.RIGHT"
               visible="true"
               width="50">
         </column>
         <column
               comparator="org.eclipse.tcf.te.tcf.processes.ui.internal.columns.PPIDComparator"
               id="ppid"
               labelProvider="org.eclipse.tcf.te.tcf.processes.ui.internal.columns.PPIDLabelProvider"
               moveable="true"
               name="%column.name.ppid"
               resizable="true"
               style="SWT.RIGHT"
               visible="true"
               width="50">
         </column>
         <column
               comparator="org.eclipse.tcf.te.tcf.processes.ui.internal.columns.StateComparator"
               id="state"
               labelProvider="org.eclipse.tcf.te.tcf.processes.ui.internal.columns.StateLabelProvider"
               moveable="true"
               name="%column.name.state"
               resizable="true"
               style="SWT.RIGHT"
               visible="true"
               width="50">
         </column>
         <column
               comparator="org.eclipse.tcf.te.tcf.processes.ui.internal.columns.UserComparator"
               id="user"
               labelProvider="org.eclipse.tcf.te.tcf.processes.ui.internal.columns.UserLabelProvider"
               moveable="true"
               name="%column.name.user"
               resizable="true"
               style="SWT.RIGHT"
               visible="true"
               width="100">
         </column>
      </columnContribution>
      <filterContribution
            viewerId="org.eclipse.tcf.te.ui.controls.viewer.processes">
         <filter
               class="org.eclipse.tcf.te.tcf.processes.ui.internal.filters.SingleThreadFilter"
               description="%singlethreadfilter.description"
               enabled="true"
               id="org.eclipse.tcf.te.tcf.processes.ui.navigator.filter.singleThread"
               name="%singlethreadfilter.name">
         </filter>
      </filterContribution>
   </extension>
   
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="false"
            contentProvider="org.eclipse.tcf.te.tcf.processes.ui.controls.ProcessNavigatorContentProvider"
            icon="icons/obj16/process_root.png"
            id="org.eclipse.tcf.te.tcf.processes.ui.navigator.content"
            labelProvider="org.eclipse.tcf.te.tcf.processes.ui.internal.columns.ProcessLabelProvider"
            name="%navigatorContent.name"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel">
            </instanceof>
            <test
                  property="org.eclipse.tcf.te.tcf.locator.hasRemoteService"
                  value="SysMonitor">
            </test>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eclipse.tcf.te.tcf.processes.ui.model.ProcessTreeNode">
            </instanceof>
         </possibleChildren>
         <commonSorter
               class="org.eclipse.tcf.te.tcf.processes.ui.controls.ProcessViewerSorter">
         </commonSorter>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.tcf.te.tcf.processes.ui.internal.filters.SingleThreadFilter"
            id="org.eclipse.tcf.te.tcf.processes.ui.navigator.filter.singleThread"
            name="%commonFilter.singlethread.name"
            visibleInUI="false">
      </commonFilter>
   </extension>
   
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.tcf.te.ui.views.View">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.tcf.te.tcf.processes.ui.navigator.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.tcf.te.tcf.processes.ui.internal.preferences.PreferencesInitializer"/>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.tcf.te.ui">
         <propertyTab
               category="org.eclipse.tcf.te"
               id="org.eclipse.tcf.te.tcf.processes.ui.propertytab.general"
               label="%propertyTab.general.label">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.tcf.te.tcf.processes.ui.propertytab.general"
               category="org.eclipse.tcf.te"
               id="org.eclipse.tcf.te.tcf.processes.ui.propertytab.context"
               label="%propertyTab.context.label">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.tcf.te.tcf.processes.ui.propertytab.context"
               category="org.eclipse.tcf.te"
               id="org.eclipse.tcf.te.tcf.processes.ui.propertytab.advanced"
               label="%propertyTab.advanced.label">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.tcf.te.ui">
         <propertySection
               class="org.eclipse.tcf.te.tcf.processes.ui.internal.tabbed.BasicInformationSection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.tcf.processes.ui.internal.tabbed.ProcessFilter"
               id="org.eclipse.tcf.te.tcf.processes.ui.propertysection.general.basic"
               tab="org.eclipse.tcf.te.tcf.processes.ui.propertytab.general">
         </propertySection>
         <propertySection
               afterSection="org.eclipse.tcf.te.tcf.processes.ui.propertysection.general.basic"
               class="org.eclipse.tcf.te.tcf.processes.ui.internal.tabbed.IDSection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.tcf.processes.ui.internal.tabbed.ProcessFilter"
               id="org.eclipse.tcf.te.tcf.processes.ui.propertysection.general.id"
               tab="org.eclipse.tcf.te.tcf.processes.ui.propertytab.general">
         </propertySection>
         <propertySection
               class="org.eclipse.tcf.te.tcf.processes.ui.internal.tabbed.BasicContextSection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.tcf.processes.ui.internal.tabbed.ProcessFilter"
               id="org.eclipse.tcf.te.tcf.processes.ui.propertysection.context.basicContext"
               tab="org.eclipse.tcf.te.tcf.processes.ui.propertytab.context">
         </propertySection>
         <propertySection
               afterSection="org.eclipse.tcf.te.tcf.processes.ui.propertysection.context.basicContext"
               class="org.eclipse.tcf.te.tcf.processes.ui.internal.tabbed.ContextIDSection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.tcf.processes.ui.internal.tabbed.ProcessFilter"
               id="org.eclipse.tcf.te.tcf.processes.ui.propertysection.context.contextId"
               tab="org.eclipse.tcf.te.tcf.processes.ui.propertytab.context">
         </propertySection>
         <propertySection
               afterSection="org.eclipse.tcf.te.tcf.processes.ui.propertysection.context.contextId"
               class="org.eclipse.tcf.te.tcf.processes.ui.internal.tabbed.MemorySection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.tcf.processes.ui.internal.tabbed.ProcessFilter"
               id="org.eclipse.tcf.te.tcf.processes.ui.propertysection.context.memory"
               tab="org.eclipse.tcf.te.tcf.processes.ui.propertytab.context">
         </propertySection>
         <propertySection
               class="org.eclipse.tcf.te.tcf.processes.ui.internal.tabbed.AdvancedPropertiesSection"
               enablesFor="1"
               filter="org.eclipse.tcf.te.tcf.processes.ui.internal.tabbed.ProcessFilter"
               id="org.eclipse.tcf.te.tcf.processes.ui.propertysection.advanced"
               tab="org.eclipse.tcf.te.tcf.processes.ui.propertytab.advanced">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.tcf.te.tcf.processes.ui.internal.properties.AdvancedPropertiesPage"
            id="org.eclipse.tcf.te.tcf.processes.ui.pages.advanced"
            name="%page.properties.name">
         <enabledWhen>
            <and>
               <instanceof
                     value="org.eclipse.tcf.te.tcf.processes.ui.model.ProcessTreeNode">
               </instanceof>
               <not>
                  <test
                        property="org.eclipse.tcf.te.tcf.processes.ui.model.isSystemRoot">
                  </test>
               </not>
            </and>
         </enabledWhen>
      </page>
      <page
            class="org.eclipse.tcf.te.tcf.processes.ui.internal.properties.ContextPage"
            id="org.eclipse.tcf.te.tcf.processes.ui.pages.context"
            name="%page.context.name">
         <enabledWhen>
            <and>
               <instanceof
                     value="org.eclipse.tcf.te.tcf.processes.ui.model.ProcessTreeNode">
               </instanceof>
               <not>
                  <test
                        property="org.eclipse.tcf.te.tcf.processes.ui.model.isSystemRoot">
                  </test>
               </not>
            </and>
         </enabledWhen>
      </page>
      <page
            class="org.eclipse.tcf.te.tcf.processes.ui.internal.properties.GeneralInformationPage"
            id="org.eclipse.tcf.te.tcf.processes.ui.pages.basic"
            name="%page.basic.name">
         <enabledWhen>
            <and>
               <instanceof
                     value="org.eclipse.tcf.te.tcf.processes.ui.model.ProcessTreeNode">
               </instanceof>
               <not>
                  <test
                        property="org.eclipse.tcf.te.tcf.processes.ui.model.isSystemRoot">
                  </test>
               </not>
            </and>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.tcf.te.tcf.processes.ui.internal.testers.ProcessPropertyTester"
            id="org.eclipse.tcf.te.tcf.processes.ui.propertytester.process"
            namespace="org.eclipse.tcf.te.tcf.processes.ui.model"
            properties="isSystemRoot, isAttached"
            type="org.eclipse.tcf.te.tcf.processes.ui.model.ProcessTreeNode">
      </propertyTester>
   </extension>
   
</plugin>
