<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Preference contributions -->
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.tcf.te.tcf.locator.internal.preferences.PreferencesInitializer"/>
   </extension>

<!-- Eclipse core expressions property tester -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.tcf.te.tcf.locator.internal.MyPropertyTester"
            id="org.eclipse.tcf.te.tcf.locator.LocatorModelPropertyTester"
            namespace="org.eclipse.tcf.te.tcf.locator"
            properties="name,hasLocalService,hasRemoteService,isStaticPeer,isRedirected"
            type="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel">
      </propertyTester>
   </extension>

<!-- Persistence delegate contributions -->
   <extension point="org.eclipse.tcf.te.runtime.persistence.delegates">
      <delegate 
            id="org.eclipse.tcf.te.tcf.locator.persistence"
            class="org.eclipse.tcf.te.tcf.locator.internal.PeersPersistenceDelegate">
      </delegate>
   </extension>

<!-- Adapter factory contributions -->
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.util.Map"
            class="org.eclipse.tcf.te.tcf.locator.internal.adapters.AdapterFactory">
         <adapter type="org.eclipse.tcf.te.runtime.persistence.interfaces.IPersistable"/>
      </factory>
      
      <factory
            adaptableType="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"
            class="org.eclipse.tcf.te.tcf.locator.internal.adapters.AdapterFactory">
         <adapter type="org.eclipse.tcf.te.runtime.persistence.interfaces.IPersistable"/>
         <adapter type="org.eclipse.tcf.te.runtime.persistence.interfaces.IPersistable2"/>
      </factory>
   </extension>
   
<!-- Service contributions -->
   <extension point="org.eclipse.tcf.te.runtime.services.services">
      <service
            class="org.eclipse.tcf.te.tcf.locator.internal.services.PropertiesAccessService"
            id="org.eclipse.tcf.te.runtime.services.tcf.propertiesAccess">
         <serviceType
               bundleId="org.eclipse.tcf.te.runtime.services"
               class="org.eclipse.tcf.te.runtime.services.interfaces.IPropertiesAccessService"/>
         <enablement>
            <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
         </enablement>
      </service>
   </extension>

<!-- Model node factory delegate contributions -->
   <extension point="org.eclipse.tcf.te.runtime.model.factoryDelegates">
      <delegate
            class="org.eclipse.tcf.te.tcf.locator.internal.ModelNodeFactoryDelegate"
            id="org.eclipse.tcf.te.tcf.locator.model.factory.delegate">
         <nodeType class="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
      </delegate>
   </extension>

</plugin>
