<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- Preference contributions -->
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.tcf.te.tcf.locator.internal.preferences.PreferencesInitializer"/>
   </extension>

<!-- Eclipse core expressions property tester -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.tcf.te.tcf.locator.internal.LocatorModelPropertyTester"
            id="org.eclipse.tcf.te.tcf.locator.LocatorModelPropertyTester"
            namespace="org.eclipse.tcf.te.tcf.locator"
            properties="name,hasLocalService,hasRemoteService,isStaticPeer,isRedirected,isProxy,isValueAdd"
            type="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel">
      </propertyTester>
   </extension>

<!-- Persistence delegate contributions -->
   <extension point="org.eclipse.tcf.te.runtime.persistence.delegates">
      <delegate 
            id="org.eclipse.tcf.te.tcf.locator.persistence.gson.peer"
            class="org.eclipse.tcf.te.tcf.locator.persistence.GsonPeerPersistenceDelegate">
      </delegate>
   </extension>

<!-- Persistence delegate bindings contributions -->
   <extension
         point="org.eclipse.tcf.te.runtime.persistence.bindings">
      <binding
            delegateId="org.eclipse.tcf.te.tcf.locator.persistence.gson.peer"
            id="org.eclipse.tcf.te.tcf.locator.binding.gson.peer">
         <enablement>
            <with variable="container">
               <or>
                  <instanceof value="java.net.URI"/>
                  <instanceof value="java.lang.String"/>
                  <and>
                     <instanceof value="java.lang.Class"/>
                     <with variable="containerClass">
                        <equals value="java.lang.String"/>
                     </with>
                  </and>
               </or>
            </with>
            <with variable="context">
               <or>
                  <instanceof value="org.eclipse.tcf.protocol.IPeer"/>
                  <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
                  <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModelProvider"/>
                  <and>
                     <instanceof value="java.lang.Class"/>
                     <with variable="contextClass">
                        <equals value="org.eclipse.tcf.protocol.IPeer"/>
                     </with>
                  </and>
               </or>
            </with>
         </enablement>
      </binding>
   </extension>

<!-- Adapter factory contributions -->
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"
            class="org.eclipse.tcf.te.tcf.locator.internal.adapters.AdapterFactory">
         <adapter type="org.eclipse.tcf.te.runtime.persistence.interfaces.IPersistableURIProvider"/>
      </factory>
      <factory
            adaptableType="org.eclipse.tcf.protocol.IPeer"
            class="org.eclipse.tcf.te.tcf.locator.internal.adapters.AdapterFactory">
         <adapter type="org.eclipse.tcf.te.runtime.persistence.interfaces.IPersistableURIProvider"/>
         <adapter type="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
      </factory>
      <factory
            adaptableType="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModelProvider"
            class="org.eclipse.tcf.te.tcf.locator.internal.adapters.AdapterFactory">
         <adapter type="org.eclipse.tcf.te.runtime.persistence.interfaces.IPersistableURIProvider"/>
      </factory>
   </extension>
   
<!-- Service contributions -->
   <extension point="org.eclipse.tcf.te.runtime.services.services">
      <service
            class="org.eclipse.tcf.te.tcf.locator.internal.services.PropertiesAccessService"
            id="org.eclipse.tcf.te.runtime.services.tcf.propertiesAccess">
         <serviceType
               bundleId="org.eclipse.tcf.te.runtime.services"
               class="org.eclipse.tcf.te.runtime.services.interfaces.IPropertiesAccessService"/>
         <enablement>
            <instanceof value="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
         </enablement>
      </service>
   </extension>

<!-- Model node factory delegate contributions -->
   <extension point="org.eclipse.tcf.te.runtime.model.factoryDelegates">
      <delegate
            class="org.eclipse.tcf.te.tcf.locator.internal.ModelNodeFactoryDelegate"
            id="org.eclipse.tcf.te.tcf.locator.model.factory.delegate">
         <nodeType class="org.eclipse.tcf.te.tcf.locator.interfaces.nodes.IPeerModel"/>
      </delegate>
   </extension>

</plugin>
